.navbar {
  box-shadow: 0px 15px 10px 0px #aaa;
  background: linear-gradient(-45deg, #50d4ac, #070707);

}

.navbar-container {
  display: block;
}




.menu-items li {
  list-style: none;

}



.navbar a {
  color: #f8f8f8;
  text-decoration: none;
  font-weight: 500;
  transition: color 0.3s ease-in-out;

}

.navbar-dropdown {
  display: none;

  background: #fff;
  box-shadow: 0 0 35px 0 rgba(0, 0, 0, 0.25);
}

.navbar a:hover {
  color: #62be4f;
}

.nav-link {
  font-size: 16px;

}

.navbar .dropdown-item {
  color: #070707;
}

@media screen and (max-width: 768px) {
  .navbar {
    padding: 20px;
  }

  .navbar a {
    text-align: center;
  }
}

a:active {
  color: #62be4f;
}