
  <div class="d-flex flex-column h-100">
    <footer class="footer-section">
      <div class="container">
        <div class="footer-cta pt-5 pb-5">
          <div class="row">
            <div class="col-xl-4 col-md-4 mb-30">
              <div class="single-cta">
                <i class="fas fa-map-marker-alt" ></i>
                <div class="cta-text">
                  <h4>Office</h4>
                  <span>office No. 2, Uttekar Heights,<br> 572, Shaniwar Peth, Kelkar<br>
                    Road, Opp. Kesari Wada,<br> Pune - 411030, Maharashtra,
                    INDIA.</span>
                </div>
              </div>
            </div>
            <div class="col-xl-4 col-md-4 mb-30">
              <div class="single-cta">
                <i class="fas fa-phone"></i>
                <div class="cta-text">
                  <h4>Ph No:</h4>
                  <span> +91 - 20 - 24452797 / 24468999</span>
                </div>
              </div>
            </div>
            <div class="col-xl-4 col-md-4 mb-30">
              <div class="single-cta">
                <i class="far fa-envelope-open"></i>
                <div class="cta-text">
                  <h4>Email</h4>
                  <span>vikarshnano@gmail.com</span>
                </div>
              </div>
            </div>
            <br />
          </div>
        </div>
        <div class="footer-content pt-5 pb-5">
          <div class="row">
            <div class="col-xl-4 col-lg-4 mb-50">
              <div class="footer-widget">
                <div class="footer-logo">
                  <a href="index.html">
                    <img src="../../assets/logo main/logomain.jpg" alt=""
                  /></a>
                </div>
                <div class="footer-text">
                  <p>
                    Vikarsh Nano Technology And Alloys Private Limited."is among
                    the leading Manufacturers, Exporters of high quality and
                    performance oriented Nano crystalline ribbons and cores.
                    These include CT cores, ELCB, RCCB, METERING cores, blocks,
                    cut cores, Welding cores & transformers as well as CRGO
                    products which can be made available in both standard and
                    customized specifications.
                  </p>
                </div>
                <div class="footer-social-icon">
                  <div class="hero">
                    <br />
                    <div class="social-links">
                      <a href="https://www.facebook.com/"
                        ><i class="fab fa-facebook-f"></i
                      ></a>

                      <a href="https://twitter.com/i/flow/login"
                        ><i class="fab fa-twitter"></i
                      ></a>

                      <a href="https://in.linkedin.com/"
                        ><i class="fab fa-linkedin-in"></i
                      ></a>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-xl-4 col-lg-4 col-md-6 mb-30">
              <div class="footer-widget">
                <div class="footer-widget-heading">
                  <h3>Useful Links</h3>
                </div>
                <ul>
                  <li><a href="#">Home</a></li>
                  <li><a href="#">About us</a></li>
                  <li><a href="#">Product</a></li>
                  <li><a href="#">Gallery</a></li>
                  <li><a href="#">Carers</a></li>
                  <li><a href="#">Contact</a></li>
                  <li><a href="#">About us</a></li>
                  <li><a href="#">Our Services</a></li>
                  <li><a href="#">Contact us</a></li>
                </ul>
              </div>
            </div>
            <div class="col-xl-4 col-lg-4 col-md-6 mb-50">
              <div class="footer-widget">
                <div class="footer-widget-heading">
                  <h3>Find My Way</h3>
                  <iframe
                    src="https://www.google.com/maps/embed?pb=!1m13!1m8!1m3!1d6315.293075717857!2d73.850467!3d18.516946!3m2!1i1024!2i768!4f13.1!3m2!1m1!2zMTjCsDMwJzU5LjMiTiA3M8KwNTAnNTYuOCJF!5e1!3m2!1sen!2sin!4v1701163614852!5m2!1sen!2sin"
                    style="border: 0"
                    allowfullscreen=""
                    loading="lazy"
                    referrerpolicy="no-referrer-when-downgrade"
                  ></iframe>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="copyright-area">
        <div class="container">
          <div class="row">
            <div class="col-xl-8 col-lg-7 text-center text-lg-right">
              <div class="copyright-text">
                <p>
                  Copyright &copy; 2023, Vikarsh Nano Technology And Alloys
                  Private Limited   <a href="">MobiCloud Technology Pvt Limited</a>
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </footer>
  </div>

