<div class="container-fluid">
  <section class="section-6">
    <div class="jumbotron" id="top">
      <h1>
        Nano Crystalline Product
      </h1>

    </div>

    <div class="row">
      <div class="col">
        <figure class="figure">
          <img src="../../assets/Nano Crystalline/rb-l9590a-500x500.jpg" height="400px" />
          <figcaption>
            <h3>NANO CRYSTALLINE RIBBON</h3>
            <p>
              Nano crystalline ribbons are fruit of complex engineering
              techniques.Basically a suitable alloy is made with sophisticated
              metallurgy followed by rapid quenching with metal spinning
              technology with cooling rate more than one million degree.
            </p>
          </figcaption>
          <h3 class="name-card p-20">Nano Crystalline Ribbon</h3>
          <a href="" class="mb-4" data-toggle="modal" data-target="#modalRegisterForm1">
          </a>
        </figure>
        <figure class="figure">
          <img src="../../assets/Amorphous.jpg" height="400px" />
          <figcaption>
            <h3>Amorphous Ribbon</h3>
            <p>
              Amorphous Ribbon is new soft magnetic material. It is produced
              through the advance technology of rapid solidification of molten
              metal at a cooling rate of about a million°C/sec.Fe-based
              Amorphous ribbon has many advantages, such as high permeability,
              high saturate induction, high electrical resistivity, high
              density, low core loss and good stability.
            </p>
          </figcaption>
          <h3 class="name-card" style="margin: 15px">Amorphous Ribbon</h3>
          <a href="" class="mb-4" data-toggle="modal" data-target="#modalRegisterForm2">
          </a>
        </figure>
        <figure class="figure">
          <img src="../../assets/HMA_ALL_SHAPE_CORES_IMAGE.jpg" height="400px" />
          <figcaption>
            <h3>High Metering Accuracy (HMA) CORES</h3>
            <p>
              The High permeability 80% nickel-iron,Mumetal alloy is the
              material used in the manufacture of high metering accuracy (HMA)
              current transformer cores.Close control of the magnetic properties
              over a wide flux density range permits the most conomic design of
              the transformer for requirements in both ration and phase angle
              error.
            </p>
          </figcaption>
          <h3 class="name-card">High Metering Accuracy (HMA) CORES</h3>
          <a href="" class="mb-4" data-toggle="modal" data-target="#modalRegisterForm3">
          </a>
        </figure>
        <figure class="figure">
          <img src="../../assets/NANO_SMALL_CORE_IMAGE.jpg" height="400px" />
          <figcaption>
            <h3>High frequency core / CBCT cores</h3>
            <p>
              A ring-type current transformer (CT), known as a Core Balance
              Current Transformer (CBCT), Also known as a Zero Sequence CT
              (ZCT), detects the existence of zero sequence current during a
              short circuit fault situation resulting in an unbalanced 3-phase
              system.
            </p>
          </figcaption>
          <h3 class="name-card">High frequency core / CBCT cores</h3>
          <a href="" class="mb-4" data-toggle="modal" data-target="#modalRegisterForm4"></a>
        </figure>
        <figure class="figure">
          <img src="../../assets/WELDING_TRANSFORMER_IMAGE.jpg" height="400px" />
          <figcaption>
            <h3>Welding Transformer cores</h3>
            <p>
              Welding transformer cores play a vital role in the overall
              performance and efficiency of welding transformers, impacting
              factors such as energy transfer, heat dissipation, and overall
              reliability. The design and construction of these cores are
              essential considerations in the manufacturing of welding
              transformers
            </p>
          </figcaption>
          <h3 class="name-card">Welding Transformer cores</h3>
          <a href="" class="mb-4" data-toggle="modal" data-target="#modalRegisterForm5"></a>
        </figure>
        <figure class="figure">
          <img src="../../assets/WELDING_CORE_IMAGE (002).jpg" height="400px" />
          <figcaption>
            <h3>IGBT Welder Rectifier Transformer</h3>
            <p>
              An IGBT (Insulated Gate Bipolar Transistor) welder rectifier
              transformer is a type of welding power supply that incorporates
              IGBT technology for its rectification and control functions. Let's
              break down the key components and concepts:
            </p>
          </figcaption>
          <h3 class="name-card">IGBT Welder Rectifier Transformer</h3>
          <a href="" class="mb-4" data-toggle="modal" data-target="#modalRegisterForm6"></a>
        </figure>
        <figure class="figure">
          <img src="../../assets/NANO_CUT_CORE___BLOCKS_IMAGE.jpg" height="400px" />
          <figcaption>
            <h3>Nano crystalline Blocks and Cut Core</h3>
            <p>
              Nanocrystalline alloy Block Splice Core - ANBC Series
              Applications: + Applied to solar inverters, wind power inverters +
              Output filter or inductor cores in high frequency large power
              supplies + Transformer cores in switch mode power supplies
              Characteristics: + High saturate induction - Reducing core volume
              + Rectangular form - Easy to mount coils.
            </p>
          </figcaption>
          <h3 class="name-card">Nano crystalline Blocks and Cut Core</h3>
          <a href="" class="mb-4" data-toggle="modal" data-target="#modalRegisterForm7"></a>
        </figure>

        <!-- 8-->
        <figure class="figure">
          <img src="../../assets/NANO_COPPER_WOUND_CORE_IMAGE.jpg" height="400px" />
          <figcaption>
            <h3>Nano crystalline copper wound core</h3>
            <p>
              It is made by winding a long ribbon of magnetic steel in a tight
              spiral on a mandrel into the form of a heavy-walled circular
              cylinder. This core construction has been designated as the "wound
              core." It eliminates or minimizes most of the objections inherent
              in other types
            </p>
          </figcaption>
          <h3 class="name-card">Nano crystalline copper wound core</h3>
          <a href="#" href="" class="mb-4" data-toggle="modal" data-target="#modalRegisterForm8"></a>
        </figure>
      </div>
    </div>
  </section>

  <!-- product1 -->
  <!-- Modal -->
  <div class="col">
    <div class="modal fade " id="modalRegisterForm1" tabindex="-1" aria-labelledby="exampleModalLabel"
      aria-hidden="true" [attr.data-backdrop]="'static'" [attr.data-keyboard]="false">
      <div class="modal-dialog modal-xl ">
        <div class="modal-content">
          <div class="modal-header">
            <a class="btn-primary " mat-raised-button color="accent" (click)="downloadPdfFile()" style="color: #fff">
              Download Brochure
            </a>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close" style="color: black">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            <div class="content">
              <div class="left">
                <div class="product_img">
                  <img src="../../assets/Nano Crystalline/rb-l9590a-500x500.jpg" height="400px" />
                </div><br><br>
                <div class="product_details">
                  <h4 class="title">NANO CRYSTALLINE RIBBON</h4>
                  <p class="price">₹.650/- to ₹.900/- per kg</p>
                  <br />
                  <h4 class="title">
                    Advantages over Conventional Nanocrystalline Ribbon
                  </h4>
                  <ol>
                    <li>Low remanence leads to very low inrush current.</li>
                    <li>
                      Very low watt losses @20KHz or higher frequency saves Huge
                      electrical energy.
                    </li>
                    <li>Smaller equipment size & weight.</li>
                  </ol>
                </div>
              </div>

              <div class="right">
                <div class="product_description">
                  <h4>PRODUCT DESCRIPTION</h4>
                  <p>
                    Nano crystalline ribbons are fruit of complex engineering
                    techniques. Basically a suitable alloy is made with
                    sophisticated metallurgy followed by rapid quenching with
                    metal spinning technology with cooling rated more than one
                    million degree centigrade.
                  </p>
                  <p>
                    <span class="head">Usage / Application:</span> Metering CT
                    cores/CBCT cores/Blocks/Welding cores/High frequency cores/
                    Metering cores
                  </p>
                  <p>
                    <span class="head">Country of origin:</span> Made in India.
                  </p>

                  <div class="drop">
                    <h4>Material Properties :</h4>
                    <br />
                    <table class="table table-bordered">
                      <tbody>
                        <tr>
                          <td scope="row">Density</td>
                          <td>7.2 gms/cc</td>
                        </tr>
                        <tr>
                          <td scope="row">Filling Factor</td>
                          <td>78% - 80%</td>
                        </tr>
                        <tr>
                          <td scope="row">Permeability</td>
                          <td>250000 to 400000</td>
                        </tr>
                        <tr>
                          <td scope="row">Saturation Induction</td>
                          <td>1.2 T</td>
                        </tr>
                        <tr>
                          <td scope="row">Curie Temperature</td>
                          <td>560 degc</td>
                        </tr>
                        <tr>
                          <td scope="row">Max Operating Temperature</td>
                          <td>150 deg C</td>
                        </tr>
                        <tr>
                          <td scope="row">Thickness (mm)</td>
                          <td>0.025 ∼0.035</td>
                        </tr>
                        <tr>
                          <td scope="row">Available width</td>
                          <td>5 mm to 50 mm</td>
                        </tr>
                      </tbody>
                    </table>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Get Quote</button>
            <button type="button" class="btn btn-primary">Conatct Us</button>
          </div>
        </div>

      </div>

    </div>
  </div>

  <!-- product2 -->
  <!-- Modal -->
  <!-- Modal -->
  <div class="col">
    <div class="modal fade" id="modalRegisterForm2" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true"
      [attr.data-backdrop]="'static'" [attr.data-keyboard]="false">
      <div class="modal-dialog modal-xl">
        <div class="modal-content">
          <div class="modal-header">
            <a class="btn-primary justify-content-end" mat-raised-button color="accent" (click)="downloadPdfFile()"
              style="color: #fff">
              Download Brochure
            </a>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close" style="color: black">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            <div class="content">
              <div class="left">
                <div class="product_img">
                  <img src="../../assets/Amorphous.jpg" height="400px" />
                </div><br><br>
                <div class="product_details">
                  <h4 class="title">Amorphous Ribbon</h4>
                  <p class="price">₹.300/- to ₹.400/- per kg</p>
                </div>
              </div>

              <div class="right">
                <div class="product_description">
                  <h4>PRODUCT DESCRIPTION</h4>
                  <p>
                    Amorphous Ribbon is new soft magnetic material. It is
                    produced through the advance technology of rapid
                    solidification of molten metal at a cooling rate of about a
                    million°C/sec. Fe-based Amorphous ribbon has many
                    advantages, such as high permeability, high saturate
                    induction, high electrical resistivity, high density, low
                    core loss and good stability.
                  </p>
                  <p>
                    <span class="head">Usage / Application:</span> High
                    frequency transformers / Reactor transformers & distribution
                    transformers
                  </p>
                  <p>
                    <span class="head">Country of origin:</span> Made in India.
                  </p>
                  <h4>Material Properties :</h4>
                  <table class="table table-bordered">
                    <tbody>
                      <tr>
                        <td scope="row">Density</td>
                        <td>7.2 gms/cc</td>
                      </tr>
                      <tr>
                        <td scope="row">Filling Factor</td>
                        <td>92%</td>
                      </tr>
                      <tr>
                        <td scope="row">Permeability</td>
                        <td>100000</td>
                      </tr>
                      <tr>
                        <td scope="row">Saturation Induction</td>
                        <td>1.56 tesla</td>
                      </tr>
                      <tr>
                        <td scope="row">Curie Temperature</td>
                        <td>415 degc</td>
                      </tr>
                      <tr>
                        <td scope="row">Max Operating Temperature</td>
                        <td>150 deg C</td>
                      </tr>
                      <tr>
                        <td scope="row">Thickness (mm)</td>
                        <td>0.030</td>
                      </tr>
                      <tr>
                        <td scope="row">Available width</td>
                        <td>Upto 220mm</td>
                      </tr>
                    </tbody>
                  </table>
                </div>
              </div>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-dismiss="modal">Get Quote</button>
              <button type="button" class="btn btn-primary">Conatct Us</button>
            </div>

          </div>
        </div>
      </div>
    </div>

  </div>
  <!-- product End 2  -->

  <!-- product3 -->
  <!-- Modal -->
  <div class="col">
    <div class="modal fade" id="modalRegisterForm3" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true"
      [attr.data-backdrop]="'static'" [attr.data-keyboard]="false">
      <div class="modal-dialog modal-xl">
        <div class="modal-content">
          <div class="modal-header">
            <a class="btn-primary justify-content-end" mat-raised-button color="accent" (click)="hamdownloadPdfFile()"
              style="color: #fff">
              Download Brochure
            </a>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close" style="color: black">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            <div class="content">
              <div class="left">
                <div class="product_img">
                  <img src="../../assets/HMA_ALL_SHAPE_CORES_IMAGE.jpg" height="400px" />
                </div><br><br>

                <div class="product_details">
                  <h4 class="title">High Metering Accuracy (HMA) CORES</h4>
                  <p class="price">₹.1200/- per kg</p>

                  <h4 class="title">Finishing:</h4>
                  <p class="para">
                    Since nano crystalline material is very thin & brittle,
                    cores can’t be supplied in bare form but needs good
                    encapsulation which is available in following options:

                    <span>
                      <ol>
                        <li>
                          Stainless steel / Aluminum (non magnetic) casing
                        </li>
                        <li>Insulating board/PCB casing</li>
                        <li>Plastic casing (for large quantities)</li>
                        <li>Araldite & crape paper covering</li>
                      </ol>
                    </span>
                  </p>
                </div>
              </div>

              <div class="right">
                <div class="product_description">
                  <h4>PRODUCT DESCRIPTION</h4>
                  <p>
                    The High permeability 80% nickel-iron,Mumetal alloy is the
                    material used in the manufacture of high metering accuracy
                    (HMA) current transformer cores.Close control of the
                    magnetic properties over a wide flux density range permits
                    the most conomic design of the transformer for requirements
                    in both ration and phase angle error.
                  </p>
                  <p>
                    <span class="head">Usage / Application:</span> Transmission
                    / Generation / Distribution - Metering cores used in current
                    transformers
                  </p>
                  <p>
                    <span class="head">Country of origin:</span> Made in India.
                  </p>
                  <h4>Material Properties :</h4>
                  <table class="table table-bordered">
                    <tbody>
                      <tr>
                        <td scope="row">Shape</td>
                        <td>Round / Rectangular / Oval /Special Geometries</td>
                      </tr>
                      <tr>
                        <td scope="row">Material</td>
                        <td>Nano crystalline ribbon</td>
                      </tr>
                      <tr>
                        <td scope="row">Frequency</td>
                        <td>50 Hz / 60 Hz / as per design</td>
                      </tr>
                      <tr>
                        <td scope="row">Sizes : OD :</td>
                        <td>
                          from 10 mm to 1200 mm ID :<br />
                          min 05 mm HT : <br />min 05 mm
                        </td>
                      </tr>
                      <tr>
                        <td scope="row">Capacity</td>
                        <td>: Upto 765 KV class</td>
                      </tr>
                    </tbody>
                  </table>
                  <p>
                    For final core dimensions thickness of canopy should be
                    considered, following is the general formula for same<br />
                    Final ID : ID of bare core -5 MM (±2 mm)<br />
                    Final OD : OD of bare core + 5 MM (±2 mm)<br />
                    Final HT : Ht of bare core + 5 MM (± 2 mm)<br />
                  </p>
                </div>
              </div>
            </div>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Get Quote</button>
            <button type="button" class="btn btn-primary">Conatct Us</button>
          </div>
        </div>

      </div>
    </div>
  </div>
  <!-- product End 3 -->

  <!-- product4 -->
  <!-- Modal -->
  <div class="col">
    <div class="modal fade" id="modalRegisterForm4" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true"
      [attr.data-backdrop]="'static'" [attr.data-keyboard]="false">
      <div class="modal-dialog modal-xl">
        <div class="modal-content">
          <div class="modal-header">
            <a class="btn-primary justify-content-end" mat-raised-button color="accent"
              (click)="minicoredownloadPdFile()" style="color: #fff">
              Download Brochure
            </a>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close" style="color: black">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            <div class="content">
              <div class="left">
                <div class="product_img">
                  <img src="../../assets/NANO_SMALL_CORE_IMAGE.jpg" height="500px" />
                </div><br><br>
                <div class="product_details">
                  <h4 class="title">High frequency core / CBCT core</h4>
                  <p class="price">
                    ₹.10/- to ₹.50/- per pc<br />
                    (as per required size)
                  </p>
                  <div class="tab">
                    <h4>Material Properties :</h4>
                    <table class="table table-bordered">
                      <tbody>
                        <tr>
                          <td scope="row">Shape</td>
                          <td>Round</td>
                        </tr>
                        <tr>
                          <td scope="row">Material:</td>
                          <td>
                            Nano crystalline steel / Amorphous steel as per
                            requirement
                          </td>
                        </tr>
                        <tr>
                          <td scope="row">Frequency</td>
                          <td>Upto 100 KHz</td>
                        </tr>
                      </tbody>
                    </table>
                  </div>
                </div>
              </div>

              <div class="right">
                <div class="product_description">
                  <h4>PRODUCT DESCRIPTION</h4>
                  <p>
                    The High permeability 80% nickel-iron,Mumetal alloy is the
                    material used in the manufacture of high metering accuracy
                    (HMA) current transformer cores.Close control of the
                    magnetic properties over a wide flux density range permits
                    the most conomic design of the transformer for requirements
                    in both ration and phase angle error.
                  </p>
                  <p>
                    <span class="head">Usage / Application:</span>
                    <span>
                      <ol>
                        <li>
                          LT Metering applications, Digital Current Meters.
                        </li>
                        <li>
                          CBCTs Ground Fault Interruptors/Earth Leakage Circuit
                          Breakers.
                        </li>
                        <li>Common Mode Chokes, EMI Filters.</li>
                      </ol>
                    </span>
                  </p>

                  <br /><br />
                  <p>
                    <span class="head">Country of origin:</span> Made in India.
                  </p>

                  <h4 class="title">Available Finishing:</h4>

                  <ol>
                    <li>PBT/PET/Nylon Canopies (Standard Sizes Available)</li>
                    <li>
                      UL / Non UL epoxy Powder Coated Cores (For Non-Standard
                      Sizes)
                    </li>
                  </ol>

                  <br />
                  <p>
                    <span> Dimensions : </span>For core sizes in PBT/PET/Nylon
                    canopies, please refer below list For cores in powder
                    coating. Min Bare Core ID:08mm can be accepted upto 35 mm OD
                    <a class="btn2" (click)="toggleCollapse()" style="color: blue">+Read More</a>
                  </p>
                </div>
              </div>
            </div>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Get Quote</button>
            <button type="button" class="btn btn-primary">Conatct Us</button>
          </div>
        </div>
        <br />
        <div class="content-one" *ngIf="!isCollapsed">
          <div class="left">
            <div class="table-image">
              <p>
                <img src="../../assets/clients/Screenshot (36).png" alt="" class="table_img" />
              </p>
            </div>
          </div>

          <div class="right">
            <div class="table-image-2">
              <p>
                <img src="/assets/Screenshot (37).png" alt="" class="table_img" /><br>
                <img src="/assets/Screenshot (38).png" alt="" class="table_img" />
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- product End 4 -->

  <!-- product5 -->
  <!-- Modal -->
  <div class="col">
    <div class="modal fade" id="modalRegisterForm5" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true"
      [attr.data-backdrop]="'static'" [attr.data-keyboard]="false">
      <div class="modal-dialog modal-xl">
        <div class="modal-content">
          <div class="modal-header">
            <a class="btn-primary justify-content-end" mat-raised-button color="accent"
              (click)="WeldingdownloadPdfFile()" style="color: #fff">
              Download Brochure
            </a>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close" style="color: black">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            <div class="content">
              <div class="left">
                <div class="product_img">
                  <img src="../../assets/WELDING_TRANSFORMER_IMAGE.jpg" height="500px" />
                </div><br><br>
                <div class="product_details">
                  <h4 class="title">Welding Transformer cores</h4>
                  <p class="price">₹.1000/- per pc onwards</p>

                  <br />
                  <h4 class="title">Packing Type:</h4>
                  <p class="para">
                    Suitable for use above 1Khz Frequency Range.<br />
                    Superior Performance at High Frequencies (upto 100Khz).<br />
                    High Permeability, Low Remenance, Low Watt Loss, Low
                    Coercivity.<br /><br />

                    Max Service Temperature 130DegC.<br />
                    Lightweight & Compact.<br />
                  </p>

                  <h4 class="title">Properties:</h4>
                  <p class="para">
                    Plastic casing (PBT )<br />
                    Steel Casing option also available for Non-standard Sizes &
                    Special Applications<br />
                  </p>
                </div>
              </div>

              <div class="right">
                <div class="product_description">
                  <h4>PRODUCT DESCRIPTION</h4>
                  <p>
                    Welding transformer cores play a vital role in the overall
                    performance and efficiency of welding transformers,
                    impacting factors such as energy transfer, heat dissipation,
                    and overall reliability. The design and construction of
                    these cores are essential considerations in the
                    manufacturing of welding transformers.
                  </p>
                  <p>
                    <span class="head">Usage / Application:</span>
                    <span>
                      <ol>
                        <li>Welding Rectifiers</li>
                        <li>IGBT Based Inverters/Plasma Inverters</li>
                        <li>High frequency current source / DC reactors</li>
                      </ol>
                    </span>
                  </p>

                  <br /><br /><br />
                  <p>
                    <span class="head">Country of origin:</span> Made in India.
                  </p>
                  <h4>Material Properties :</h4>
                  <table class="table table-bordered">
                    <tbody>
                      <tr>
                        <td scope="row">Shape</td>
                        <td>Round</td>
                      </tr>
                      <tr>
                        <td scope="row">Material:</td>
                        <td>Vikano Super 300 Nano crystalline Ribbon</td>
                      </tr>
                      <tr>
                        <td scope="row">Material Thickness</td>
                        <td>25 micron (± 5 micron)</td>
                      </tr>
                      <tr>
                        <td scope="row">Density</td>
                        <td>7.25 Kg/cm²</td>
                      </tr>
                      <tr>
                        <td scope="row">Stacking Factor</td>
                        <td>82%</td>
                      </tr>
                      <tr>
                        <td scope="row">Curie Temperature</td>
                        <td>560°C</td>
                      </tr>
                      <tr>
                        <td scope="row">Wattloss</td>
                        <td>≤30 Watts/Kg @ 0.5 Tesla @ 20KHz</td>
                      </tr>
                      <tr>
                        <td scope="row">Remanence</td>
                        <td>20 KHz ≤ 0.3 Tesla</td>
                      </tr>
                    </tbody>
                  </table>
                </div>
              </div>
            </div>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Get Quote</button>
            <button type="button" class="btn btn-primary">Conatct Us</button>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- product End 5 -->
  <!-- ************************************************************************************************************************************************* -->

  <!-- product6 -->
  <!-- Modal -->
  <div class="col">
    <div class="modal fade" id="modalRegisterForm6" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true"
      [attr.data-backdrop]="'static'" [attr.data-keyboard]="false">
      <div class="modal-dialog modal-xl">
        <div class="modal-content">
          <div class="modal-header">
            <a class="btn-primary justify-content-end" mat-raised-button color="accent"
              (click)="WeldingdownloadPdfFile()" style="color: #fff">
              Download Brochure
            </a>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close" style="color: black">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            <div class="content">
              <div class="left">
                <div class="product_img">
                  <img src="../../assets/WELDING_CORE_IMAGE (002).jpg" height="500px" />
                </div><br><br>
                <div class="product_details">
                  <h4 class="title">IGBT WELDER RECTIFIER TRANSFORMER</h4>
                  <p class="price">₹.4000/- to ₹.5000/- per pc</p>
                </div>
              </div>

              <div class="right">
                <div class="product_description">
                  <h4>PRODUCT DESCRIPTION</h4>
                  <p>
                    An IGBT (Insulated Gate Bipolar Transistor) welder rectifier
                    transformer is a type of welding power supply that
                    incorporates IGBT technology for its rectification and
                    control functions. Let's break down the key components and
                    concepts:
                  </p>
                  <p>
                    <span class="head">Usage / Application:</span>
                    <span>
                      <ol>
                        <li>Welding Rectifiers</li>
                        <li>IGBT Based Inverters/Plasma Inverters</li>
                        <li>High frequency current source / DC reactors</li>
                      </ol>
                    </span>
                  </p>

                  <br /><br /><br />
                  <p>
                    <span class="head">Country of origin:</span> Made in India.
                  </p>
                  <h4>Material Properties :</h4>
                  <table class="table table-bordered">
                    <tbody>
                      <tr>
                        <td scope="row">Shape</td>
                        <td>Round</td>
                      </tr>
                      <tr>
                        <td scope="row">Material:</td>
                        <td>Vikano Super 300 Nano crystalline core</td>
                      </tr>
                      <tr>
                        <td scope="row">Usage</td>
                        <td>Welding machine</td>
                      </tr>
                      <tr>
                        <td scope="row">Specs</td>
                        <td>
                          Ready-to-use Primary and Secondary Wound Rectifier
                          Transformer assemblies (as per customer design)
                        </td>
                      </tr>
                    </tbody>
                  </table>
                </div>
              </div>
            </div>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Get Quote</button>
            <button type="button" class="btn btn-primary">Conatct Us</button>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- ****************************************************************************** -->

  <!-- product7 -->
  <!-- Modal -->
  <div class="col">
    <div class="modal fade" id="modalRegisterForm7" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true"
      [attr.data-backdrop]="'static'" [attr.data-keyboard]="false">
      <div class="modal-dialog modal-xl">
        <div class="modal-content">
          <div class="modal-header">
            <a class="btn-primary justify-content-end" mat-raised-button color="accent" (click)="cutdownloadPdfFile()"
              style="color: #fff">
              Download Brochure
            </a>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close" style="color: black">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            <div class="content">
              <div class="left">
                <div class="product_img">
                  <img src="../../assets/NANO_CUT_CORE___BLOCKS_IMAGE.jpg" height="500px" />
                </div><br><br>
                <div class="product_details">
                  <h4 class="title">Nano crystalline Blocks and Cut Core</h4>
                  <p class="price">₹.3000/- per kg</p>
                  <div class="mini-box">
                    <h4 class="head">Advantages (Nanocrystalline Blocks)</h4>
                    <p class="para">
                      High Permeability, High AL-value/Inductance, Lower Power
                      Loss, Low Remenance, Low Coercivity
                    </p>
                    <h4 class="head">Advantages (Amorphous Blocks)</h4>
                    <p class="para">
                      Stable operation/Performance over wide Frequency range,
                      Better Performance at Higher Frequencies
                    </p>
                  </div>
                </div>
              </div>

              <div class="right">
                <div class="product_description">
                  <h4>PRODUCT DESCRIPTION</h4>
                  <p>
                    Nanocrystalline alloy Block Splice Core - ANBC Series
                    Applications: + Applied to solar inverters, wind power
                    inverters + Output filter or inductor cores in high
                    frequency large power supplies + Transformer cores in switch
                    mode power supplies Characteristics: + High saturate
                    induction - Reducing core volume + Rectangular form - Easy
                    to mount coils.
                  </p>
                  <p>
                    <span class="head">Usage / Application:</span>
                    <span>
                      <ol>
                        <li>
                          Suitable for use in Electric Vehicle Chargers /
                          Magnetic Analyzers, Special Applications Blocks of
                          Special Geometry used in Axial Flux Stator/Rotor
                          Cores.
                        </li>
                        <li>
                          Suitable for Both, fundamental Frequency & High
                          Frequency Applications.
                        </li>
                      </ol>
                    </span>
                  </p>

                  <br /><br /><br />
                  <p>
                    <span class="head">Country of origin:</span> Made in India.
                  </p>
                  <h4>Material Properties :</h4>
                  <table class="table table-bordered">
                    <tbody>
                      <tr>
                        <td scope="row">Shape</td>
                        <td>Rectangular / Square / Customized</td>
                      </tr>
                      <tr>
                        <td scope="row">Material</td>
                        <td>Nano crystalline / Amorphous ribbons</td>
                      </tr>
                      <tr>
                        <td scope="row">Material Thickness</td>
                        <td>25 micron (±5 micron)</td>
                      </tr>
                      <tr>
                        <td scope="row">Density</td>
                        <td>7.25 Kg/cm²</td>
                      </tr>
                      <tr>
                        <td scope="row">Curie Temperature</td>
                        <td>560°C</td>
                      </tr>
                      <tr>
                        <td scope="row">Wattloss</td>
                        <td>0.5 Tesla @ 20KHz ≤ 30 Watts/Kg</td>
                      </tr>
                      <tr>
                        <td scope="row">Remanence</td>
                        <td>20 KHz ≤ 0.3 Tesla</td>
                      </tr>
                      <tr>
                        <td scope="row">Surface finish</td>
                        <td>Smooth</td>
                      </tr>
                    </tbody>
                  </table>
                </div>
              </div>
            </div>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Get Quote</button>
            <button type="button" class="btn btn-primary">Conatct Us</button>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- ****************************************************************************** -->
  <!-- product8 -->
  <!-- Modal -->
  <div class="col">
    <div class="modal fade" id="modalRegisterForm8" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true"
      [attr.data-backdrop]="'static'" [attr.data-keyboard]="false">
      <div class="modal-dialog modal-xl">
        <div class="modal-content">
          <div class="modal-header">
            <a class="btn-primary justify-content-end" mat-raised-button color="accent"
              (click)="  hamdownloadPdfFile() " style="color: #fff">
              Download Brochure
            </a>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close" style="color: black">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            <div class="content">
              <div class="left">
                <div class="product_img">
                  <img src="../../assets/NANO_COPPER_WOUND_CORE_IMAGE.jpg" height="400px" />
                </div><br><br>

                <div class="product_details">
                  <h4 class="title">Nano crystalline copper wound core</h4>
                  <p class="price">₹. 1000/- to ₹.10000/- per pc</p>
                  <br />
                </div>
              </div>

              <div class="right">
                <div class="product_description">
                  <h4>PRODUCT DESCRIPTION</h4>
                  <p>
                    It is made by winding a long ribbon of magnetic steel in a
                    tight spiral on a mandrel into the form of a heavy-walled
                    circular cylinder. This core construction has been
                    designated as the "wound core." It eliminates or minimizes
                    most of the objections inherent in other types
                  </p>
                  <p>
                    <span class="head">Usage / Application:</span>
                    CT & Toroidal transformers
                  </p>
                  <p>
                    <span class="head">Country of origin:</span> Made in India.
                  </p>
                  <div class="tab">
                    <h4>Material Properties :</h4>
                    <table class="table table-bordered">
                      <tbody>
                        <tr>
                          <td scope="row">Material</td>
                          <td>
                            Nano crystalline ribbon / CRGO of various grade
                          </td>
                        </tr>
                        <tr>
                          <td scope="row">Specification:</td>
                          <td>
                            0.2S class copper wound metering cores upto 765 KV
                            class PS class copper wound metering cores
                          </td>
                        </tr>
                      </tbody>
                    </table>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Get Quote</button>
            <button type="button" class="btn btn-primary">Conatct Us</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>