<section class="main-body">
  <div class="container">
    <div class="wrapper">
      <!-- COMPANY INFORMATION -->
      <div class="company-info">
        <h3>
          Vikarsh Nano Technology & Alloys Pvt. Ltd.
        </h3>
        <hr style="  color: #ffffff;" />

        <ul>
          <li>
            <i class="fa fa-road"style="font-size: 20px;"></i> Gat No. 273 & 274, A/P. Dhangarwadi,
            (Shirwal) NH-4, Tal. Khandala, Dist. Satara- 412 801, Maharashtra,
            INDIA
          </li>
          <br />
          <li><i class="fa fa-user-circle-o" style="font-size: 20px;"></i>  Tejashree Jagnade | Sales Manager</li><br>
          <li><i class="fa fa-phone" style="font-size: 20px;"></i> (+91) - 20 - 24452797 / 24468999</li>
          <br />
          <li><i class="far fa-solid fa-globe-americas" style="font-size: 20px;"></i>    www.vikarsh.com</li>
          <br />
          <li><i class="fa fa-envelope" style="font-size: 20px;"></i>   vikarshnano@gmail.com</li>
        </ul>
        <hr style="  color: #ffffff;" />
        <div class="hero">
          <h1>Follow us on Social Media:</h1>
          <br>
          <div class="social-links">
            <a href="https://www.facebook.com/"><i class="fab fa-facebook-f"></i></a>

            <a href="https://twitter.com/i/flow/login"><i class="fab fa-twitter"></i></a>

            <a href="https://in.linkedin.com/"><i class="fab fa-linkedin-in"></i></a>
          </div>
        </div>
      </div>
      <!-- End .company-info -->

      <!-- CONTACT FORM -->
      <div class="contact">
        <h3 class="text-center">Contact Us</h3>
        <hr>

        <form id="contact-form">
          <p>
            <label>Name</label>
            <input type="text" required maxlength="49" class="form-control" id="first_name" name="first_name" placeholder="Enter Your Name">
          </p>

          <p>
            <label>Company Name</label>
            <input type="text" required maxlength="49" class="form-control" id="Company_name" name="last_name" placeholder="Company Your Name">
          </p>

          <p class="email">
            <label for="email_addr">Email address</label>
            <input type="email" required maxlength="49" class="form-control" id="email_addr" name="email"
              placeholder="name@example.com">
          </p>

          <p>
            <label for="phone_input">Phone</label>

            <ngx-intl-tel-input [preferredCountries]="['in', 'gb']" type="Number" required
              maxlength="50"></ngx-intl-tel-input>
          </p>

          <p class="full">
            <label for="message">Message</label>
            <textarea class="form-control" id="message" name="message" rows="5" placeholder="Enter Your Text"></textarea>
          </p>

          <p class="full">
            <button type="submit" class="btn btn-primary px-10 btn-lg">Conact Now</button>
          </p>
        </form>
        <!-- End #contact-form -->
      </div>
      <!-- End .contact -->
    </div>
    <!-- End .wrapper -->
  </div>
  <!-- End .container -->
  <iframe
    src="https://www.google.com/maps/embed?pb=!1m13!1m8!1m3!1d6315.293075717857!2d73.850467!3d18.516946!3m2!1i1024!2i768!4f13.1!3m2!1m1!2zMTjCsDMwJzU5LjMiTiA3M8KwNTAnNTYuOCJF!5e1!3m2!1sen!2sin!4v1701163614852!5m2!1sen!2sin"
    width="100%" height="450" frameborder="0" style="border: 0" allowfullscreen="" aria-hidden="false"
    tabindex="0"></iframe>
</section>