<section class="about-me" id="about-me">
  <div class="jumbotron" id="top">
    <h1>
      <i class="fa fa-building-o" aria-hidden="true"></i> About us
    </h1>
   
  </div><br>
  <div class="container">
    <div class="about-me-flex-container">
      <div class="about-me-image">
        <div class="back-div">
          <img class="img-slide" src="../../assets/awads/NATION AWARD SIR PHOTO (1).JPG" height="100%" alt="">
        </div>
        <div class="main-image">
          <img src="../../assets/Company Image.PNG" alt="smit" />
        </div>
      </div><br><br>
      <div class="about-me-content">

        <div class="text">
          <p>
            <span style="color: #50d4ac">
              "Vikarsh Nano Technology And Alloys Private Limited."</span>is among the leading Manufacturers,
            Exporters of high quality and
            performance oriented Nano crystalline ribbons and cores. These
            include CT cores, ELCB, RCCB, METERING cores, blocks, cut cores,
            Welding cores & transformers as well as CRGO products which can be
            made available in both standard and customized specifications.
            Established in the year 2013, at Pune, Maharashtra. Over the years
            the company achieved considerable growth in output and customer
            base. The company is located at Dhangarwadi near Shirwal (about 50
            kms from Pune) adjoining Pune Bangalore highway and hence become an
            ideal and strategic location for production and dispatch of its
            products. Our business operations are being handled by
            professional team having wide range experience. Their experienced
            approach as well as in depth knowledge of the involved processes
            guides us in meeting the customer specification of all our
            products.
          </p>
          <br />
          <p>
            <span style="color: #50d4ac">
              Vikarsh Nano Technology And Alloys Private Limited
            </span>has made a firm consolidation in its business through meticulous
            planning and continual improvement in quality of its products to
            fully meet customer’s requirements. Today, our consistency in
            meeting the emerging demands of the transformer industry has
            assisted us in making many reputed clients in the domestic as well
            as international market. Further, our production expertise which
            allow us to deliver the range to the clients’ specification has
            also aided us in strengthening our position in the market.
          </p>
        </div>
        <hr />
      </div>
    </div>
  </div>


</section>