<div class="container-fluid">
 
  <div class="jumbotron" id="top">
    <h1>
      <i class="fa fa-group" aria-hidden="true"></i> Our Clients
    </h1>
   
  </div>
  <div class="container">
    <div class="card-deck">
      <div class="card">
        <img
          class="card-img-top"
          src="../../assets/clients/download (5).png"
          alt="Card image cap"
        />
      </div>
      <div class="card">
        <img
          class="card-img-top"
          src=".././../assets/clients/logo.jpg"
          alt="Card image cap"
        />
      </div>
      <div class="card">
        <img
          class="card-img-top"
          src="../../assets/clients/download (6).png"
          alt="Card image cap"
          height="100%"
        />
      </div>
      <div class="card">
        <img
          class="card-img-top"
          src="../../assets/clients/Bharat_Heavy_Electricals_Limited-Logo.wine.png"
          alt="Card image cap"
          height="100%"
        />
      </div>
      <div class="card">
        <img
          class="card-img-top"
          src="../../assets/clients/2-2.jpg"
          alt="Card image cap"
          height="100%"
        />
      </div>
      <div class="card">
        <img
          class="card-img-top"
          src="../../assets/clients/download (3).png"
          alt="Card image cap"
        />
      </div>
      <div class="card">
        <img
          class="card-img-top"
          src="../../assets/clients/ferrites_india_logo.jpg"
          alt="Card image cap"
        />
      </div>
      <div class="card">
        <img
          class="card-img-top"
          src="../../assets/clients/unnamed.jpg "
          alt="Card image cap"
        />
      </div>
      <div class="card">
        <img
          class="card-img-top"
          src="../../assets/clients/Siemens-logo.png "
          alt="Card image cap"
          height="100%"
        />
      </div>
      <div class="card">
        <img
          class="card-img-top"
          src="../../assets/clients/Panacea_Logo_for_Print_materials.png"
          alt="Card image cap"
        />
      </div>
      <div class="card">
        <img
          class="card-img-top"
          src="../../assets/clients/download.jpg "
          alt="Card image cap"
          height="100%"
        />
      </div>
      <div class="card">
        <img
          class="card-img-top"
          src="../../assets/clients/alfalogomain.png "
          alt="Card image cap"
          height="100%"
        />
      </div>
      <div class="card">
        <img
          class="card-img-top"
          src="../../assets/clients/Ador-Welding-Limited.gif"
          alt="Card image cap"
          height="100%"
        />
      </div>
      <div class="card">
        <img
          class="card-img-top"
          src="../../assets/clients/jbam5jxtgwzwt3zjesc4.png "
          alt="Card image cap"
        />
      </div>
      <div class="card">
        <img
          class="card-img-top"
          src="../../assets/clients/Panasonic-logo.png"
          alt="Card image cap"
          height="100%"
        />
      </div>
      <div class="card">
        <img
          class="card-img-top"
          src="../../assets/clients/download (4).png "
          alt="Card image cap"
          height="100%"
        />
      </div>
      <div class="card">
        <img
          class="card-img-top"
          src="../../assets/clients/mcv16419_ECIL-Recruitment-2021.png "
          alt="Card image cap"
          height="100%"
        />
      </div>
    </div>
  </div>
</div>
