<section class="banner">
  <div id="slider">
    <figure>
      <img src="../../assets/Company Image.PNG" class="banner-image">
      <img src="../../assets/awads/NATION AWARD SIR PHOTO (1).JPG" class="banner-image">
      <img src="../../assets/clients/Team-Vikarsh-1024x512.jpg" class="banner-image">
      
    </figure>
  </div>
  <div class="covertext">
    <div class="col-lg-7">
      <h1 class="title-main">
        Vikarsh Nano
        <span style="color: #fff"> Technology & Alloys Pvt. Ltd.</span>
      </h1>
      <p class="subtitle">
        By continuous improvements we transform our knowledge, energy and
        experience of the generations into common success
      </p>
    </div>
  </div>
</section>

<!-- About us start -->
<section class="about-me" id="about-me">
  <div class="container">
    <div class="about-me-container">
      <h2 class="about-me-title">About Us</h2>
      <br>
      <div class="about-me-flex-container">
        <div class="about-me-image">
          <div class="back-div">

            <img class="img-slide" src="../../assets/awads/NATION AWARD SIR PHOTO (1).JPG" height="100%" alt="">

          </div>
          <div class="main-image">
            <img src="../../assets/Company Image.PNG" alt="smit" />
          </div>
        </div>
        <div class="about-me-content">
          <div class="text">
            <p class="about-text">
              We
              <span class="companybrand-name">
                "Vikarsh Nano Technology And Alloys Private Limited."
              </span>
              are among the leading Manufacturers, Exporters of high-quality
              and performance-oriented Nano crystalline ribbons and cores.
              These include CT cores, ELCB, RCCB, METERING cores & Blocks
              which can be made available in both standard and customized
              specifications. Established in the year 2013, at Pune,
              Maharashtra, over the years the company achieved considerable
              growth in output and customer base....
            </p><button href="" routerLink="about-Us" class="about-us-btn">Read More</button>

          </div>

        </div>
      </div>
    </div>
  </div>
</section>
<br>
<!-- About us End -->
<!-- Product Details start -->
<app-raw-material></app-raw-material>


<app-contact></app-contact>