#slider {
  overflow: hidden;

}

@keyframes slider {

  0%,
  100% {
    left: 0;
  }

  33%,
  66% {
    left: -100%;
  }

  100% {
    left: -200%;
  }

}

#slider figure {
  
  width: 300%;
  position: relative;
  animation: 9s slider infinite;

}

.banner{
 
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5));
}

#slider figure img {
opacity: 0.5;
  width: 33.333333333%;
  height: 100%;
  float: left;

}

.carousel-fade .carousel-inner .item {
  opacity: 0;
  transition: opacity 0.5s;
}

.carousel-fade .carousel-inner .active {
  opacity: 1;
}

@media all and (transform-3d),
(-webkit-transform-3d) {

  .carousel-fade .carousel-inner>.item.next,
  .carousel-fade .carousel-inner>.item.active.right,
  .carousel-fade .carousel-inner>.item.prev,
  .carousel-fade .carousel-inner>.item.active.left,
  .carousel-fade .carousel-inner>.item.next.left,
  .carousel-fade .carousel-inner>.item.prev.right,
  .carousel-fade .carousel-inner>.item.active {
    opacity: 1;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}

/* Responsive styles */
.item {
  width: 100%;
  height: 300px;
  
  background-size: cover;
}

.covertext {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  color: #fff;
}

.col-lg-7 {
  width: 100%;
  max-width: 600px;
  margin: 0 auto;
}

.title-main {
  font-size: 2em;
}

@media screen and (max-width: 768px) {
  .col-lg-7 {
    max-width: 100%;
    margin-top: 510px;
  }

  .title-main {
    font-size: 1.5em;
  }
}

@media (max-width: 991px) {
  .carousel .background {
    background-size: cover;
  }
}

@media (max-width: 767px) {
  .carousel .background {
    height: 400px;
  }

  .covertext {
    top: 100px;
  }

  .subtitle {
    font-size: 18px;
  }

  .explore .btn-lg {
    padding: 12px 20px;
    font-size: 18px;
  }
}

.title-main {
  font-family: Verdana;
  font-weight: 600;
  color: #50d4ac;
  font-size: 34px;
  text-align: center;
}

.subtitle {
  font-family: Verdana;
  font-size: 23px;
  color: #ffffff;
  text-align: center;
}

.explore {
  text-align: center;
  margin-top: 10px;
}

.explore .btn-lg,
.explore .btn-lg:hover,
.btn,
.btn:hover {
  border-radius: 30px;
  font-size: 22px;
  background-image: none;
  color: #ffffff;
}

.explore .btn-lg,
.explore .btn-lg:hover {
  padding: 15px 25px;
  background-color: #ff4000;
  border-color: #ff4000;
}

.btn,
.btn:hover {
  margin-bottom: 20px;
  box-shadow: none;
  outline: none;
  background-color: #ff4000;
  border-color: #ff4000;
}


.about-me {
  background-color:  #e2f5ee;

}
.companybrand-name{
  color: #50d4ac;
}

.montserrat {
  font-family: 'Avenir', sans-serif;
}

img {
  max-width: 100%;
  -o-object-fit: cover;
  object-fit: cover;
}
.container {
  max-width: 1100px;
 

}
@media (min-width: 1200px) and (max-width: 1441px) {
  .container {
    max-width: 1250px;
    padding: 0px 36px;
  }
}

@media (max-width: 767px) {
  .container {
    padding: 0px 30px;
  }
}

@media (max-width: 479px) {
  .container {
    padding: 0px 30px 0px 20px;
  }
}

.about-me {
  padding-top: 50px;
  padding-bottom: 50px;
}

.about-me .about-me-container {
  position: relative;
}

@media (max-width: 960px) {
  .about-me .about-me-container {
    padding-bottom: 100px;
  }
}

.about-me .about-me-container .about-me-title {
  font-size: 55px;
  color: #101111;

  text-align: center;
  font-family: 'Avenir', sans-serif;
}

@media (max-width: 500px) {
  .about-me .about-me-container .about-me-title {
    font-size: 30px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 80px;
    font-family: 'Avenir', sans-serif;
  }
}

.about-me-flex-container {
  margin-top: -25px;
  margin-left: 20px;
  left: 50px;
  display: flex;
  justify-content: space-between;
}

@media (max-width: 960px) {
  .about-me-flex-container {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-left: 0px;
    gap: 50px;
  }
}

@media (max-width: 500px) {
  .about-me-flex-container {
    margin-top: -10px;
  }
}

.about-me-flex-container .about-me-image {
  position: relative;
  width: 400px;
  height: 400px;
}

@media (max-width: 500px) {
  .about-me-flex-container .about-me-image {
    width: 300px;
    height: 300px;
    margin-left: -85px;
  }
}

.about-me-flex-container .about-me-image .back-div {
  position: absolute;
  bottom: 0;
  width: 99%;
  height: 90%;
  left: -28px;
}

.about-me-flex-container .about-me-image .black-image {
  position: absolute;
  left: 0 9px;
  bottom: 10px;
  height: 100%;
}

.about-me-flex-container .about-me-image .black-image img {
  height: 100%;
}

.about-me-flex-container .about-me-image .main-image {
  width: 91%;
  height: 61%;
  overflow: hidden;
  position: absolute;
  left: 18%;
  bottom: -14%;
  box-shadow: rgb(0, 0, 0) 0px 7px 50px 0px;

  animation: floatImage 4s ease-in-out infinite;
  background-size: cover;
  background-position: center;
}


.about-me-flex-container .about-me-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 50px;
  flex: 0 0 40%;
}

@media (max-width: 960px) {
  .about-me-flex-container .about-me-content {
    flex-direction: column;
  }
}

.about-me-flex-container .about-me-content .logo {
  max-width: 200px;
}

.about-me-flex-container .about-me-content .logo img {
  filter: drop-shadow(0 0 25px rgb(0, 0, 0));
}

@media (max-width: 500px) {
  .about-me-flex-container .about-me-content .logo img {
    transform: rotateZ(90deg);
  }
}

.about-me-flex-container .about-me-content .text {
  color: #0d0d0e;
  font-weight: 600;
  font-size: 18px;
}

@media (max-width: 500px) {
  .about-me-flex-container .about-me-content .text {
    font-size: 16px;
  }
}

.mail-button {
  display: flex;
  height: 80px;
  width: 80px;
  border-radius: 50%;
  padding: 15px;
  justify-content: center;
  align-items: center;
  transition: all 0.2s ease-out;
}

.mail-button a {
  display: flex;
}

.mail-button img {
  -o-object-fit: contain;
  object-fit: contain;
  transition: all 0.2s ease-out;
}

.mail-button2 {
  background-color: #be4f76;
  position: absolute;
  bottom: 0;
  left: 0;
  border: 10px solid #be4f76;
}

.mail-button2 img {
  filter: invert(56%) sepia(42%) saturate(4795%) hue-rotate(360deg) brightness(103%) contrast(105%);
}

.mail-button2:hover {
  background-color: #ff7a01;
  border: 10px solid #ff7a01;
}

.mail-button2:hover img {
  filter: unset;
  transform: scale(1.5);
}

.portfolio-link {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.portfolio-link a {
  text-decoration: none;
  color: white;

  padding: 10px;
  margin: 10px;
  border-radius: 5px;
}

@keyframes floatImage {
  0% {
    transform: translateY(0);
  }

  50% {
    transform: translateY(-2.3rem);
  }

  100% {
    transform: translateY(0);
  }
}

.namecompany {
  color: #83b9f0;
}

.hero-text h1 {
  animation: animate 5s linear infinite;
}

.about-us-btn {
  padding: 10px 80px;
  background: linear-gradient(-45deg, #50d4ac, #070707);
  border-radius: 20px;
  font-weight: 100;
  color: #fff;
  margin-left: 90px;
  box-shadow: 10px 10px 10px rgb(124, 120, 120);
}

.about-me-btn:hover {
  color: #50d4ac;
}
.about-text{
  font-family: 'Avenir', sans-serif;
}
.show-less {
  height: 4rem;
  overflow: hidden;
  padding: 1rem;
}

