

<div class="container-flued">
  <section>
    <hr style="color: #50d4ac; font-weight: bold" />
    <h3 class="heading-client">
      Our Loving Clients
    </h3>

    <br />

    <div class="wrapper">
      <div class="photobanner">
        <img class="first" src="../../assets/clients/download (5).png" alt="" />

        <img class="first" src=".././../assets/clients/logo.jpg" alt="" />
        <img class="first" src="../../assets/clients/556140-0333.png " alt="" />
        <img
          class="first"
          src="../../assets/clients/Ador-Welding-Limited.gif "
          alt=""
        />
        <img
          class="first"
          src="../../assets/clients/Bharat_Heavy_Electricals_Limited-Logo.wine.png"
          alt=""
        />
        <img class="first" src="../../assets/clients/2-2.jpg " alt="" />
        <img class="first" src="../../assets/clients/download (3).png" alt="" />
        <img
          class="first"
          src="../../assets/clients/ferrites_india_logo.jpg"
          alt=""
        />
        <img class="first" src="../../assets/clients/unnamed.jpg " alt="" />
        <img class="first" src="../../assets/clients/Siemens-logo.png" alt="" />
        <img
          class="first"
          src="../../assets/clients/Panacea_Logo_for_Print_materials.png "
          alt=""
        />
        <img class="first" src="../../assets/clients/download.jpg" alt="" />
        <img class="first" src="../../assets/clients/alfalogomain.png" alt="" />
        <img
          class="first"
          src="../../assets/clients/Ador-Welding-Limited.gif"
          alt=""
        />
        <img
          class="first"
          src="../../assets/clients/jbam5jxtgwzwt3zjesc4.png"
          alt=""
        />
        <img
          class="first"
          src="../../assets/clients/Panasonic-logo.png"
          alt=""
        />
        <img class="first" src="../../assets/clients/download (4).png" alt="" />
        <img
          class="first"
          src="../../assets/clients/mcv16419_ECIL-Recruitment-2021.png"
          alt=""
        />
        <img class="first" src="../../assets/clients/download.jpg" alt="" />
      </div>
    </div>
  </section>
</div>
