<div class="container-fluid">
  <div class="container">
    <div class="jumbotron" id="top">
      <h1>
        <i class="fa fa-camera-retro" aria-hidden="true"></i> Image Gallery
      </h1>
    
    </div>
    <div class="row flex">
      <!-- Amanda Sandlin // https://unsplash.com/@amanda_sandlin -->
      <!-- IMG 1 -->
      <div class="col-md-4 col-sm-4">
        <div class="thumbnail" (click)="toggleZoom()">
          <a target="_blank" class="img-fluid" href="../../assets/awads/NATION AWARD SIR PHOTO (1).JPG"><img
              src="../../assets/awads/NATION AWARD SIR PHOTO (1).JPG" class="image" title="Click to enlarge" /></a>
          <div class="container-caption">
           
          </div>
          <!-- <img src="https://source.unsplash.com/jIdKrtJF8Uk"> -->
        </div>
      </div>
      <!-- adrian // https://unsplash.com/@aows -->
      <!-- IMG 2 -->
      <div class="col-md-4 col-sm-4">
        <div class="thumbnail">
          <a target="_blank" class="img-fluid" href="../../assets/certificate/best-product-award-2023-500x500.jpg"><img
              src="../../assets/certificate/best-product-award-2023-500x500.jpg" class="image"
              title="Click to enlarge" /></a>
          <div class="container-caption">
           
          </div>
        </div>
      </div>
      <!-- IMG 3 -->
      <div class="col-md-4 col-sm-4">
        <div class="thumbnail">
          <a target="_blank" class="img-fluid" href="../../assets/photo-copy-250x250.webp"><img
              src="../../assets/photo-copy-250x250.webp" class="image" title="Click to enlarge" /></a>
          <div class="container-caption">
           
          </div>
        </div>
      </div>
      <!-- IMG 4 -->
      <div class="col-md-4 col-sm-6">
        <div class="thumbnail">
          <a target="_blank" class="img-fluid" href="../../assets/certificate/Capture.PNG"><img
              src="../../assets/Company Image.PNG" class="image" title="Click to enlarge" /></a>
          <div class="container-caption">
           
          </div>
        </div>
      </div>
      <!-- IMG 5 -->
      <div class="col-md-4 col-sm-6">
        <div class="thumbnail">
          <a target="_blank" class="img-fluid" href="../../assets/logo main/logomain.jpg"><img
              src="../../assets/logo main/logomain.jpg" class="image" title="Click to enlarge" /></a>
          <div class="container-caption">
            
          </div>
        </div>
      </div>
      <!-- IMG 6 -->
      <div class="col-md-4 col-sm-6">
        <div class="thumbnail">
          <a target="_blank" class="img-fluid" href="../../assets/Nano Crystalline/fg-polyester-tape-500x500.jpg"><img
              src="../../assets/Nano Crystalline/fg-polyester-tape-500x500.jpg" class="image"
              title="Click to enlarge" /></a>
          <div class="container-caption">
            
          </div>
        </div>
      </div>
      <!-- IMG 7 -->
      <div class="col-md-4 col-sm-6">
        <div class="thumbnail">
          <a target="_blank" class="img-fluid" href="../../assets/clients/Team-Vikarsh-1024x512.jpg "><img
              src="../../assets/clients/Team-Vikarsh-1024x512.jpg" class="image" title="Click to enlarge" /></a>
          <div class="container-caption">
            
          </div>
        </div>
      </div>
      <!-- IMG 8 -->
      <!-- <div class="col-md-4 col-sm-6">
        <div class="thumbnail">
          <a target="_blank" href=""><img src="" class="image" title="Click to enlarge" /></a>
          <div class="container-caption">
            
          </div>
        </div>
      </div> -->
      <!-- IMG 9 -->
      <!-- <div class="col-md-4 col-sm-6">
        <div class="thumbnail">
          <a target="_blank" class="img-fluid" href="https://source.unsplash.com/SG277nmHrQo"><img
              src="https://source.unsplash.com/SG277nmHrQo" class="image" title="Click to enlarge" /></a>
          <div class="container-caption">
            
          </div>
        </div>
      </div> -->
    </div>
  </div>
</div>