<section class="wrapper">
  <div class="text-center">
    <h1 class="heading">Product Details</h1>
  </div>
  <div id="carouselExampleControls" class="carousel slide" data-bs-ride="carousel">
    <div class="carousel-inner">
      <div class="carousel-item active">
        <div class="cards-wrapper">
          <div class="card">
            <div class="image-wrapper">
              <img src="../../assets/Nano Crystalline/rb-l9590a-500x500.jpg" alt="...">
            </div>
            <div class="card-body">
              <h5 class="card-title">Nano Crystalline Ribbon</h5>
              <a href="#"  routerLink="Nanocrystalline" class="btn btn-primary">Read More</a>
            </div>
          </div>
          <div class="card">
            <div class="image-wrapper">
              <img src="../../assets/Amorphous.jpg" />
            </div>
            <div class="card-body">
              <h5 class="card-title">Amorphous Ribbon</h5>

              <a href="#" routerLink="Nanocrystalline" class="btn btn-primary">Read More</a>
            </div>
          </div>
          <div class="card">
            <div class="image-wrapper">
              <img src="../../assets/HMA_ALL_SHAPE_CORES_IMAGE.jpg" alt="...">
            </div>
            <div class="card-body">
              <h5 class="card-title">High Metering Accuracy (HMA) CORES</h5>

              <a href="#" routerLink="Nanocrystalline" class="btn btn-primary">Read More</a>
            </div>
          </div>
        </div>
      </div>
      <div class="carousel-item">
        <div class="cards-wrapper">
          <div class="card">
            <div class="image-wrapper">
              <img src="../../assets/NANO_SMALL_CORE_IMAGE.jpg" alt="...">
            </div>
            <div class="card-body">
              <h5 class="card-title">High frequency core / CBCT cores</h5>

              <a href="#" routerLink="Nanocrystalline" class="btn btn-primary">Read More</a>
            </div>
          </div>
          <div class="card">
            <div class="image-wrapper">
              <img src="h../../assets/WELDING_TRANSFORMER_IMAGE.jpg" alt="...">
            </div>
            <div class="card-body">
              <h5 class="card-title">Welding Transformer cores</h5>

              <a href="#" routerLink="Nanocrystalline" class="btn btn-primary">Read More</a>
            </div>
          </div>
          <div class="card">
            <div class="image-wrapper">
              <img src="../../assets/WELDING_CORE_IMAGE (002).jpg" alt="...">
            </div>
            <div class="card-body">
              <h5 class="card-title">IGBT Welder Rectifier Transformer</h5>

              <a href="#"  routerLink="Nanocrystalline" class="btn btn-primary">Read More</a>
            </div>
          </div>
        </div>
      </div>
      <div class="carousel-item">
        <div class="cards-wrapper">
          <div class="card">
            <div class="image-wrapper">
              <img src="../../assets/NANO_CUT_CORE___BLOCKS_IMAGE.jpg" alt="...">
            </div>
            <div class="card-body">
              <h5 class="card-title">Nano crystalline Blocks and Cut Core</h5>

              <a href="#" routerLink="Nanocrystalline" class="btn btn-primary">Read More</a>
            </div>
          </div>
          <div class="card">
            <div class="image-wrapper">
              <img src="../../assets/NANO_COPPER_WOUND_CORE_IMAGE.jpg" alt="...">
            </div>
            <div class="card-body">
              <h5 class="card-title">Nano crystalline copper wound core</h5>

              <a href="#" routerLink="Nanocrystalline" class="btn btn-primary">Read More</a>
            </div>
          </div>
          <div class="card">
            <div class="image-wrapper">
              <img src="../../assets/crgo/CPD-Slits-Eye-to-the-side-002_0.jpg" alt="...">
            </div>
            <div class="card-body">
              <h5 class="card-title">CRGO MOTHER / SLIT COILS</h5>
              <a href="#" routerLink="Electricalsteel" class="btn btn-primary">Read More</a>
            </div>
          </div>
        </div>
      </div>
      <!-- GRO -->
      <div class="carousel-item">
        <div class="cards-wrapper">
          
          <div class="card">
            <div class="image-wrapper">
              <img src="../../assets/crgo/crgo-lamination-core-mitter-right-angle-500x500.jpg" alt="..." height="300px">
            </div>
            <div class="card-body">
              <h5 class="card-title">CRGO - TRANSFORRMER / MITERED LAMINATION</h5>

              <a href="#"  routerLink="Electricalsteel" class="btn btn-primary">Read More</a>
            </div>
          </div>
          <div class="card">
            <div class="image-wrapper">
              <img src="../../assets/CRGO_TOROIDAL___RECTANGULAR_CORE_IMAGE.jpg" alt="..." height="300px">
            </div>
            <div class="card-body">
              <h5 class="card-title">CRGO TOROIDAL CORE</h5>

              <a href="#" routerLink="Electricalsteel" class="btn btn-primary">Read More</a>
            </div>
          </div>
          <div class="card">
            <div class="image-wrapper">
              <img src="../../assets/crgo/Capture core1.JPG" alt="..." height="300px">
            </div>
            <div class="card-body">
              <h5 class="card-title">RGO RECTANGULAR STRIPS</h5>

              <a href="#" routerLink="Electricalsteel" class="btn btn-primary">Read More</a>
            </div>
          </div>
          <div class="card">
            <div class="image-wrapper">
              <img src="../../assets/crgo/11-crgo-cutcore-500x500.jpg" alt="..." height="300px">
            </div>
            <div class="card-body">
              <h5 class="card-title">Unicore & Cut cores</h5>

              <a href="#" routerLink="Electricalsteel" class="btn btn-primary">Read More</a>
            </div>
          </div>
        </div>
      </div>

    </div>

    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>
  </div>


 
</section>