<div class="container-fluid">
  <section class="cert ">
    <div class="container">
      <div class="jumbotron" id="top">
        <h1>
          <i class="fa fa-certificate" aria-hidden="true"></i> Certificates
        </h1>
     
      </div>
      <div class="row flex">
        <!-- Amanda Sandlin // https://unsplash.com/@amanda_sandlin -->
        <!-- IMG 1 -->
        <div class="col-md-4 col-sm-8">
          <div class="thumbnail">
            <a
              target="_blank"
              href="../../assets/certificate/ISO14001-2015_NEW.jpeg"
              ><img
                src="../../assets/certificate/ISO14001-2015_NEW.jpeg"
                class="image"
                title="Click to enlarge"
            /></a>
            <div class="container-caption">
              <p>ISO Cretificate in Year 2015</p>
            </div>
            <!-- <img src="https://source.unsplash.com/jIdKrtJF8Uk"> -->
          </div>
        </div>
        <!-- adrian // https://unsplash.com/@aows -->
        <!-- IMG 2 -->
        <div class="col-md-4 col-sm-8">
          <div class="thumbnail">
            <a
              target="_blank"
              href="../../assets/certificate/ISO45001-2018_NEW.jpeg"
              ><img
                src="../../assets/certificate/ISO45001-2018_NEW.jpeg"
                class="image"
                title="Click to enlarge"
            /></a>
            <div class="container-caption">
              <p>ISO Cretificate in Year 2018</p>
            </div>
          </div>
        </div>
        <!-- IMG 3 -->
        <div class="col-md-4 col-sm-8">
          <div class="thumbnail">
            <a
              target="_blank"
              href="../../assets/certificate/NATIONAL AWARD CERTIFICATE PHOTO.jpg"
              ><img
                src="../../assets/certificate/NATIONAL AWARD CERTIFICATE PHOTO.jpg"
                class="image"
                title="Click to enlarge"
            /></a>
            <div class="container-caption">
              <p>
                National award Certificate in Year 2017
                <br />
              </p>
            </div>
          </div>
        </div>
        <!-- IMG 4 -->
        <div class="col-md-5 col-sm-6">
          <div class="thumbnail">
            <a
              target="_blank"
              href="../../assets/certificate/best-product-award-2023-500x500.jpg"
              ><img
                src="../../assets/certificate/best-product-award-2023-500x500.jpg"
                class="image"
                title="Click to enlarge"
            /></a>
            <div class="container-caption">
              <p>
                National award Certificate in Year 2017
                <br />
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
</div>
