<div class="tab-content" id="myTabContent " >
  <div class="tab-pane pt-4 active" role="tabpanel" id="material-Properties">
    <table class="table table-bordered">
      <tbody>
        <tr>
          <td scope="row">Density</td>
          <td>7.2 gms/cc</td>
        </tr>
        <tr>
          <td scope="row">Filling Factor</td>
          <td>92%</td>
        </tr>
        <tr>
          <td scope="row">Permeability</td>
          <td>100000</td>
        </tr>
        <tr>
          <td scope="row">Saturation Induction</td>
          <td>1.56 tesla</td>
        </tr>
        <tr>
          <td scope="row">Curie Temperature</td>
          <td>415 degc</td>
        </tr>
        <tr>
          <td scope="row">Max Operating Temperature</td>
          <td>150 deg C</td>
        </tr>
        <tr>
          <td scope="row">Thickness (mm)</td>
          <td>0.030</td>
        </tr>
        <tr>
          <td scope="row">Available width</td>
          <td>Upto 220mm</td>
        </tr>
      </tbody>
    </table>
  </div>
  <div class="tab-pane pt-4" role="tabpanel" id="raw-material">
    <table class="table table-bordered">
      <thead>
        <tr>
          <td colspan="2"><strong>Memory</strong></td>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>test 1</td>
          <td>16GB</td>
        </tr>
      </tbody>
      <thead>
        <tr>
          <td colspan="2"><strong>Processor</strong></td>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>No. of Cores</td>
          <td>4</td>
        </tr>
      </tbody>
    </table>
  </div>
  <div class="tab-pane pt-4" role="tabpanel" id="tabReview">
    <div class="card mb-4">
      <div class="card-header">Write a read</div>
      <div class="card-body"></div>
      <div class="card-footer">
        <input class="btn btn-primary" type="submit" value="Submit" />
      </div>
    </div>
    <div class="card">
      <div class="card-header">Write a review</div>
      <div class="card-body">
        <table class="table table-bordered">
          <tbody>
            <tr>
              <td colspan="2">
                <strong>Ilea Heidemann</strong>
              </td>
            </tr>
            <tr>
              <td colspan="2">
                <p>
                  Quaerat et sit sequi unde nostrum, accusantium accusamus ad
                  placeat. Libero sit ut sit ut in consequuntur, sed recusandae
                  esse; qui eum alias fuga ratione ut reiciendis commodi et
                  laboriosam? Earum eveniet et neque est alias commodi
                  voluptatem veniam est. Ad aut sit excepturi unde laudantium
                  voluptatem reiciendis nostrum eos. Molestiae omnis
                  consectetur, culpa in sed aliquam porro quas asperiores. Eum
                  modi, a incidunt dolor ut molestiae aut accusamus aspernatur!
                  Tenetur sed eveniet nesciunt, quam reprehenderit modi repellat
                  quasi voluptatem. Sit quia nulla similique omnis in ipsa quasi
                  ipsam consectetur!
                </p>
                <p class="m-0">18/03/2013</p>
              </td>
            </tr>
            <tr>
              <td colspan="2">
                <strong>Customer Rating: </strong>
                <span class="fa fa-stack">
                  <i class="fas fa-star fa-stack-1x"></i>
                  <i class="far fa-star fa-stack-1x"></i>
                </span>
                <span class="fa fa-stack">
                  <i class="far fa-star fa-stack-1x"></i>
                </span>
                <span class="fa fa-stack">
                  <i class="far fa-star fa-stack-1x"></i>
                </span>
                <span class="fa fa-stack">
                  <i class="far fa-star fa-stack-1x"></i>
                </span>
                <span class="fa fa-stack">
                  <i class="far fa-star fa-stack-1x"></i>
                </span>
              </td>
            </tr>
          </tbody>
        </table>
        <table class="table table-bordered">
          <tbody>
            <tr>
              <td colspan="2">
                <strong>Jelea lehwe</strong>
              </td>
            </tr>
            <tr>
              <td colspan="2">
                <p>
                  Libero sit ut sit ut in consequuntur, sed recusandae esse; qui
                  eum alias fuga ratione ut reiciendis commodi et laboriosam?
                  Earum eveniet et neque est alias commodi voluptatem veniam
                  est. Ad aut sit excepturi unde laudantium voluptatem
                  reiciendis nostrum eos. Molestiae omnis consectetur, culpa in
                  sed aliquam porro quas asperiores.
                </p>
                <p class="m-0">18/03/2013</p>
              </td>
            </tr>
            <tr>
              <td colspan="2">
                <strong>Customer Rating: </strong>
                <span class="fa fa-stack">
                  <i class="fas fa-star fa-stack-1x"></i>
                  <i class="far fa-star fa-stack-1x"></i>
                </span>
                <span class="fa fa-stack">
                  <i class="far fa-star fa-stack-1x"></i>
                </span>
                <span class="fa fa-stack">
                  <i class="far fa-star fa-stack-1x"></i>
                </span>
                <span class="fa fa-stack">
                  <i class="far fa-star fa-stack-1x"></i>
                </span>
                <span class="fa fa-stack">
                  <i class="far fa-star fa-stack-1x"></i>
                </span>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
  <div class="tab-pane pt-4" role="tabpanel" id="tabFaq">
    <div class="accordion" id="accordionExample">
      <div class="card">
        <div
          class="card-header bg-white"
          id="headingOne"
          data-toggle="collapse"
          data-target="#collapseOne"
        >
          Collapsible Group Item #1
        </div>
        <div
          id="collapseOne"
          class="collapse show"
          data-parent="#accordionExample"
        >
          <div class="card-body">
            Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus
            terry richardson ad squid. 3 wolf moon officia aute, non cupidatat
            skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod.
            Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid
            single-origin coffee nulla assumenda shoreditch et. Nihil anim
            keffiyeh helvetica, craft beer labore wes anderson cred nesciunt
            sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings
            occaecat craft beer farm-to-table, raw denim aesthetic synth
            nesciunt you probably haven't heard of them accusamus labore
            sustainable VHS.
          </div>
        </div>
      </div>
      <div class="card">
        <div
          class="card-header bg-white"
          id="headingTwo"
          data-toggle="collapse"
          data-target="#collapseTwo"
        >
          Collapsible Group Item #2
        </div>
        <div id="collapseTwo" class="collapse" data-parent="#accordionExample">
          <div class="card-body">
            Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus
            terry richardson ad squid. 3 wolf moon officia aute, non cupidatat
            skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod.
            Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid
            single-origin coffee nulla assumenda shoreditch et. Nihil anim
            keffiyeh helvetica, craft beer labore wes anderson cred nesciunt
            sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings
            occaecat craft beer farm-to-table, raw denim aesthetic synth
            nesciunt you probably haven't heard of them accusamus labore
            sustainable VHS.
          </div>
        </div>
      </div>
      <div class="card">
        <div
          class="card-header bg-white"
          id="headingThree"
          data-toggle="collapse"
          data-target="#collapseThree"
        >
          Collapsible Group Item #3
        </div>
        <div
          id="collapseThree"
          class="collapse"
          data-parent="#accordionExample"
        >
          <div class="card-body">
            Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus
            terry richardson ad squid. 3 wolf moon officia aute, non cupidatat
            skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod.
            Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid
            single-origin coffee nulla assumenda shoreditch et. Nihil anim
            keffiyeh helvetica, craft beer labore wes anderson cred nesciunt
            sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings
            occaecat craft beer farm-to-table, raw denim aesthetic synth
            nesciunt you probably haven't heard of them accusamus labore
            sustainable VHS.
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="tab-pane pt-4" role="tabpanel" id="tabVideo">
    <div class="row">
      <div class="col-md-3">
        <div class="card">
          <img
            class="card-img-top"
            src="https://via.placeholder.com/200x200"
            alt=""
          />
          <div class="card-footer">
            <p class="card-text"><a href="#">Usage Video</a></p>
          </div>
        </div>
      </div>
      <div class="col-md-3">
        <div class="card">
          <img
            class="card-img-top"
            src="https://via.placeholder.com/200x200"
            alt=""
          />
          <div class="card-footer">
            <p class="card-text"><a href="#">Settings Video</a></p>
          </div>
        </div>
      </div>
      <div class="col-md-3">
        <div class="card">
          <img
            class="card-img-top"
            src="https://via.placeholder.com/200x200"
            alt=""
          />
          <div class="card-footer">
            <p class="card-text"><a href="#">Experiences Video</a></p>
          </div>
        </div>
      </div>
      <div class="col-md-3">
        <div class="card">
          <img
            class="card-img-top"
            src="https://via.placeholder.com/200x200"
            alt=""
          />
          <div class="card-footer">
            <p class="card-text">
              <a href="#">Customer Reviews Video</a>
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="tab-pane pt-4" role="tabpanel" id="tabBlog">
    <div class="row">
      <div class="col-md-6">
        <div class="card mb-4">
          <div class="row no-gutters">
            <div class="col-md-4">
              <img
                class="card-img"
                alt=""
                src="https://via.placeholder.com/200x230"
              />
            </div>
            <div class="col-md-8">
              <div class="card-body">
                <h6 class="card-title">
                  Praesent convallis lacus sed est gravida ultricies.
                </h6>
                <p class="card-text">
                  This is a wider card with supporting text below as a natural
                  lead-in to additional content. This content is a little bit
                  longer.
                </p>
                <p class="card-text">
                  <small class="text-muted">Last updated 3 mins ago</small>
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-6">
        <div class="card mb-4">
          <div class="row no-gutters">
            <div class="col-md-4">
              <img
                class="card-img"
                alt=""
                src="https://via.placeholder.com/200x230"
              />
            </div>
            <div class="col-md-8">
              <div class="card-body">
                <h6 class="card-title">
                  Praesent convallis lacus sed est gravida ultricies.
                </h6>
                <p class="card-text">
                  This is a wider card with supporting text below as a natural
                  lead-in to additional content. This content is a little bit
                  longer.
                </p>
                <p class="card-text">
                  <small class="text-muted">Last updated 3 mins ago</small>
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-6">
        <div class="card">
          <div class="row no-gutters">
            <div class="col-md-4">
              <img
                class="card-img"
                alt=""
                src="https://via.placeholder.com/200x230"
              />
            </div>
            <div class="col-md-8">
              <div class="card-body">
                <h6 class="card-title">
                  Praesent convallis lacus sed est gravida ultricies.
                </h6>
                <p class="card-text">
                  This is a wider card with supporting text below as a natural
                  lead-in to additional content. This content is a little bit
                  longer.
                </p>
                <p class="card-text">
                  <small class="text-muted">Last updated 3 mins ago</small>
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-6">
        <div class="card">
          <div class="row no-gutters">
            <div class="col-md-4">
              <img
                class="card-img"
                alt=""
                src="https://via.placeholder.com/200x230"
              />
            </div>
            <div class="col-md-8">
              <div class="card-body">
                <h6 class="card-title">
                  Praesent convallis lacus sed est gravida ultricies.
                </h6>
                <p class="card-text">
                  This is a wider card with supporting text below as a natural
                  lead-in to additional content. This content is a little bit
                  longer.
                </p>
                <p class="card-text">
                  <small class="text-muted">Last updated 3 mins ago</small>
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
