<div class="container-fluid">
  <section class="section-6">
    <div class="jumbotron" id="top">
      <h1>
        (CRGO) Cold Electrical Steel
      </h1>
     
    </div>
  
    <div class="row">
      <div class="col">
        <figure class="figure">
          <img
            src="../../assets/crgo/CPD-Slits-Eye-to-the-side-002_0.jpg"
            height="400px"
          />
          <figcaption>
            <h3>CRGO MOTHER / SLIT COILS</h3>
            <p>
              Steel coil slitting is a metal cutting process where large rolls
              or coils of sheet metal are cut using very sharp rotary blades. To
              achieve straight lines, they are cut length-wise into the large
              coil, creating narrower strips. Circular blades are responsible
              for making the cuts as the coil runs through the slitter.
            </p>
          </figcaption>
          <h3 class="name-card">(CRGO) Cold Electrical Steel</h3>
          <a
            href=""
            class="mb-4"
            data-toggle="modal"
            data-target="#modalRegisterForm1"
          ></a>
        </figure>
        <figure class="figure">
          <img
            src="../../assets/crgo/crgo-lamination-core-mitter-right-angle-500x500.jpg"
            height="400px"
          />
          <figcaption>
            <h3>CRGO - TRANSFORRMER / MITERED LAMINATION</h3>
            <p>
              Lamination is made to decrease the eddy current loss by enhancing
              the resistance of the core. The core comprises thin steel sheets,
              thereby having a relatively excellent resistance, each lamination
              being separated from others by a thin coating of varnish.
            </p>
          </figcaption>
          <h3 class="name-card">CRGO - TRANSFORRMER / MITERED LAMINATION</h3>
          <a
            href=""
            class="mb-4"
            data-toggle="modal"
            data-target="#modalRegisterForm2"
          ></a>
        </figure>
        <figure class="figure">
          <img
            src="../../assets/CRGO_TOROIDAL___RECTANGULAR_CORE_IMAGE.jpg"
            height="400px"
          />
          <figcaption>
            <h3>CRGO TOROIDAL CORE</h3>
            <p>
              CRGO Toroidal cores are round or rectangular shaped CRGO cores
              manufactured from CRGO Steel to be used in current and Potential
              Transformers. Toroidal cores are manufactured from the best
              quality CRGO steel anare d annealed in a pit furnace to 820 degree
              C for full cycle of hours. We manufacture CRGO Toroidal cores in
              many different dimensions, made to order to customer
              specifications.
            </p>
          </figcaption>
          <h3 class="name-card" style="padding: 13px 16px">
            CRGO TOROIDAL CORE
          </h3>
          <a
            href=""
            class="mb-4"
            data-toggle="modal"
            data-target="#modalRegisterForm3"
          ></a>
        </figure>
        <figure class="figure">
          <img src="../../assets/crgo/Capture core1.JPG" height="400px" />
          <figcaption>
            <h3>CRGO RECTANGULAR STRIPS</h3>
            <p>
              We manufacture comprehensive variety of Rectangular Strips in CRGO
              that are offered in both loose conditions or can also be assembled
              as per client's specifications. We have the capability and
              infrastructure to deliver these rectangular strips, in different
              specifications which can differ on the basis of width, lengths,
              raw material used and others.
            </p>
          </figcaption>
          <h3 class="name-card">CRGO RECTANGULAR STRIPS</h3>
          <a
            href=""
            class="mb-4"
            data-toggle="modal"
            data-target="#modalRegisterForm4"
          ></a>
        </figure>
        <figure class="figure">
          <img
            src="../../assets/crgo/11-crgo-cutcore-500x500.jpg"
            height="400px"
          />
          <figcaption>
            <h3>Unicore & Cut cores</h3>
            <p>
              This is a core with no cuts. The Unicore machine only feeds and
              folds the steel to create a rectangular core. Uncut Unicores are
              used for Current and Voltage Transformers. They are always
              annealed to achieve the lowest losses and magnetising current.
            </p>
          </figcaption>
          <h3 class="name-card" style="padding: 13px 16px">
            Unicore & Cut cores
          </h3>
          <a
            href=""
            class="mb-4"
            data-toggle="modal"
            data-target="#modalRegisterForm5"
          ></a>
        </figure>
        <figure class="figure">
          <img
            src="../../assets/crgo/crgo-nano-copper-wound-cores-500x500.jpg"
            height="400px"
          />
          <figcaption>
            <h3>CRGO crystalline copper wound core</h3>
            <p>
              It is made by winding a long ribbon of magnetic steel in a tight
              spiral on a mandrel into the form of a heavy-walled circular
              cylinder. This core construction has been designated as the "wound
              core." It eliminates or minimizes most of the objections inherent
              in other types
            </p>
          </figcaption>
          <h3 class="name-card">CRGO crystalline copper wound core</h3>
          <a
            href="#"
            href=""
            class="mb-4"
            data-toggle="modal"
            data-target="#modalRegisterForm6"
          ></a>
        </figure>
      </div>
    </div>
  </section>

  <!-- product1 -->
  <!-- Modal -->
  <div class="col">
    <div
      class="modal fade"
      id="modalRegisterForm1"
      tabindex="-1"
      role="dialog"
      aria-labelledby="myModalLabel"
      aria-hidden="false"
      [attr.data-backdrop]="'static'"
      [attr.data-keyboard]="false"
    >
      <div class="modal-dialog modal-xl">
        <div class="modal-content">
          <div class="modal-header">
            <a
              class="btn-primary justify-content-center"
              mat-raised-button
              color="accent"
              style="color: #fff"
              (click)="downloadPdfFile()"
            >
              Download Brochure
            </a>
            <button
              type="button"
              class="close"
              data-dismiss="modal"
              aria-label="Close"
              style="color: black"
            >
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            <div class="content">
              <div class="left">
                <div class="product_img">
                  <img
                    src="../../assets/crgo/CPD-Slits-Eye-to-the-side-002_0.jpg"
                    height="400px"
                  />
                </div><br><br>
                <div class="product_details">
                  <h4 class="title">(CRGO) Cold Electrical Steel</h4>
                  <p class="price">₹.200/- to ₹.400/- per kg</p>
                  <br />
                  <div class="tab">
                    <h4>Material Properties :</h4>
                    <table class="table table-bordered">
                      <tbody>
                        <tr>
                          <td scope="row">Product capacity</td>
                          <td>1000 MT/month</td>
                        </tr>
                        <tr>
                          <td scope="row">Length Tolerance</td>
                          <td>+ 0.5 mm</td>
                        </tr>
                        <tr>
                          <td scope="row">Edge Chamber</td>
                          <td>
                            : Should not exceed 0.9 mm for a measure length of 2
                            meters
                          </td>
                        </tr>
                        <tr>
                          <td scope="row">Burr level</td>
                          <td>
                            Measured burr height should not exceed 0.025 mm
                          </td>
                        </tr>
                      </tbody>
                    </table>
                  </div>
                </div>
              </div>

              <div class="right">
                <div class="product_description">
                  <h4>PRODUCT DESCRIPTION</h4>
                  <p>
                    Steel coil slitting is a metal cutting process where large
                    rolls or coils of sheet metal are cut using very sharp
                    rotary blades. To achieve straight lines, they are cut
                    length-wise into the large coil, creating narrower strips.
                    Circular blades are responsible for making the cuts as the
                    coil runs through the slitter.
                  </p>

                  <p>
                    <span class="head">Country of origin:</span> Made in India.
                  </p>

                  <div class="drop">
                    <h4>Specification:</h4>

                    <table
                      class="table table-bordered"
                      style="text-align: center"
                    >
                      <thead>
                        <tr>
                          <th scope="col" colspan="4">WIDTH TOLERANCE</th>
                        </tr>
                        <tr>
                          <th scope="col" colspan="4">ALL DIMENSIONS IN MM</th>
                        </tr>
                        <tr>
                          <th scope="col" rowspan="2">WIDTH</th>
                          <th scope="col" colspan="3">WIDTH TOLERANCE</th>
                        </tr>
                        <tr>
                          <th scope="col">OVER</th>
                          <th scope="col">UNDER</th>
                        </tr>
                      </thead>
                      <tbody>
                        <tr>
                          <td>0-150</td>
                          <td>0.2</td>
                          <td>0</td>
                        </tr>
                        <tr>
                          <td>150-400</td>
                          <td>0.3</td>
                          <td>0</td>
                        </tr>
                        <tr>
                          <td>400-750</td>
                          <td>0.5</td>
                          <td>0</td>
                        </tr>
                        <tr>
                          <td>ABOVE 750</td>
                          <td>0.6</td>
                          <td>0</td>
                        </tr>
                      </tbody>
                    </table>
                    <p>
                      Please find below available grades in CRGO mother / slit
                      coils:
                      <a
                        class="btn1"
                        (click)="toggleCollapse()"
                        style="color: blue"
                        >+Read More</a
                      >
                    </p>
                  </div>
                </div>
              </div>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-dismiss="modal">Get Quote</button>
              <button type="button" class="btn btn-primary" >Conatct Us</button>
            </div>
          </div>
          <div class="content-one" *ngIf="!isCollapsed">
            <table
              class="table-crgo table-bordered"
              style="border: 1px solid black; width: 99%; text-align: center"
            >
              <thead>
                <tr>
                  <th colspan="4" style="text-align: center">CGO</th>
                </tr>
              </thead>
              <thead>
                <tr>
                  <th scope="col">MATERIAL THICKNESS</th>
                  <th scope="col">GRADE</th>
                  <th scope="col">OLD STANDARD NAME</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td>0.23 MM</td>
                  <td>23CG110</td>
                  <td>M3</td>
                </tr>
                <tr>
                  <td>0.27 MM</td>
                  <td>27CG120</td>
                  <td>M4</td>
                </tr>
                <tr>
                  <td>0.30 MM</td>
                  <td>30CG130</td>
                  <td>M5</td>
                </tr>
              </tbody>
              <thead>
                <tr>
                  <th colspan="4" style="text-align: center">MOH (HIB)</th>
                </tr>
              </thead>
              <thead>
                <tr>
                  <th scope="col">MATERIAL THICKNESS</th>
                  <th scope="col">GRADE</th>
                  <th scope="col">OLD STANDARD NAME</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td>0.23 MM</td>
                  <td>23HP090</td>
                  <td>23 MOH</td>
                </tr>
                <tr>
                  <td>0.27 MM</td>
                  <td>27HP100</td>
                  <td>27 MOH</td>
                </tr>
                <tr>
                  <td>0.30 MM</td>
                  <td>30HP105</td>
                  <td>30 MOH</td>
                </tr>
              </tbody>
              <thead>
                <tr>
                  <th colspan="4" style="text-align: center">
                    DR (DOMAIN REFINED)
                  </th>
                </tr>
              </thead>
              <thead>
                <tr>
                  <th scope="col">MATERIAL THICKNESS</th>
                  <th scope="col">GRADE</th>
                  <th scope="col">OLD STANDARD NAME</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td>0.23 MM</td>
                  <td>23DR085</td>
                  <td>23 ZDKH</td>
                </tr>
                <tr>
                  <td>0.23 MM</td>
                  <td>23DR080</td>
                  <td>23 ZDKH</td>
                </tr>
                <tr>
                  <td>0.27 MM</td>
                  <td>27DR090</td>
                  <td>27 ZDKH</td>
                </tr>
              </tbody>
              <thead>
                <tr>
                  <th colspan="4" style="text-align: center">
                    HEAT PROOF DOMAIN REFINED
                  </th>
                </tr>
              </thead>
              <thead>
                <tr>
                  <th scope="col">MATERIAL THICKNESS</th>
                  <th scope="col">GRADE</th>
                  <th scope="col">OLD STANDARD NAME</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td>0.23 MM</td>
                  <td>23DR085</td>
                  <td>23 ZDKH</td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>

    <!-- ***************************************************************** -->

    <!-- product2 -->
    <!-- Modal -->

    <div
      class="modal fade"
      id="modalRegisterForm2"
      tabindex="-1"
      role="dialog"
      aria-labelledby="myModalLabel"
      aria-hidden="false"
      [attr.data-backdrop]="'static'"
      [attr.data-keyboard]="false"
    >
      <div class="modal-dialog modal-xl">
        <div class="modal-content">
          <div class="modal-header">
            <a
              class="btn-primary justify-content-end"
              mat-raised-button
              color="accent"
              style="color: #fff"
              (click)="downloadPdfFile()"
            >
              Download Brochure
            </a>
            <button
              type="button"
              class="close"
              data-dismiss="modal"
              aria-label="Close"
              style="color: black"
            >
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            <div class="content">
              <div class="left">
                <div class="product_img">
                  <img
                    src="../../assets/crgo/crgo-lamination-core-mitter-right-angle-500x500.jpg"
                    height="400px"
                  />
                </div><br><br>
                <div class="product_details">
                  <h4 class="title">
                    CRGO - TRANSFORRMER / MITERED LAMINATION
                  </h4>
                  <p class="price">₹.230/- per kg</p>
                  <br />
                </div>
              </div>

              <div class="right">
                <div class="product_description">
                  <h4>PRODUCT DESCRIPTION</h4>
                  <p>
                    Our in-depth process knowledge as well as modern production
                    facilities allow us to successfully meet the demands of
                    Mitered Transformer Laminations
                  </p>
                  <p>
                    <span class="head">Usage / Application:</span>
                    Distribution & Power Transformers, Isolation Transformer,
                    Furnace transformers etc.
                  </p>
                  <p>
                    <span class="head">Country of origin:</span> Made in India.
                  </p>

                  <div class="drop">
                    <h4>Specification:</h4>
                    <ul>
                      <li>
                        Step Lap Laminations with Tip Cutting (both horizontal &
                        vertical step lap)to give reduced losses.
                      </li>
                      <li>
                        Stress relief annealed laminations to give lower losses
                        and lower current values.
                      </li>
                      <li>Ranging from 25 KVA to 75000KVA</li>
                    </ul>
                  </div>
                  <div class="tab">
                    <h4>Material Properties :</h4>
                    <table class="table table-bordered">
                      <tbody>
                        <tr>
                          <td scope="row">Transformer type</td>
                          <td>Power / Distribution / LT</td>
                        </tr>
                        <tr>
                          <td scope="row">Thickness</td>
                          <td>0.23 to 0.35 MM</td>
                        </tr>
                        <tr>
                          <td scope="row">Material</td>
                          <td>CRGO of various grades</td>
                        </tr>
                        <!-- <tr>
                  <td scope="row">Remove length & width</td>

                </tr> -->
                        <tr>
                          <td scope="row">Capacity</td>
                          <td>5 KVA to 50000 KVA</td>
                        </tr>
                        <!-- <tr>
                  <td scope="row">V notch</td>
                  <td></td>
                </tr> -->
                        <!-- <tr>
                  <td scope="row">Mitered angle</td>

                </tr>
                <tr>
                  <td scope="row">Hole Diameter</td>

                </tr> -->
                        <tr>
                          <td scope="row">Product capacity</td>
                          <td>500 MT / month.</td>
                        </tr>
                      </tbody>
                    </table>
                  </div>
                </div>
                <div class="content-one" *ngIf="!isCollapsed">
                  <table
                    class="table-crgo table-bordered"
                    style="
                      border: 1px solid black;
                      width: 99%;
                      text-align: center;
                    "
                  >
                    <thead>
                      <tr>
                        <th colspan="4" style="text-align: center">CGO</th>
                      </tr>
                    </thead>
                    <thead>
                      <tr>
                        <th scope="col">MATERIAL THICKNESS</th>
                        <th scope="col">GRADE</th>
                        <th scope="col">OLD STANDARD NAME</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr>
                        <td>0.23 MM</td>
                        <td>23CG110</td>
                        <td>M3</td>
                      </tr>
                      <tr>
                        <td>0.27 MM</td>
                        <td>27CG120</td>
                        <td>M4</td>
                      </tr>
                      <tr>
                        <td>0.30 MM</td>
                        <td>30CG130</td>
                        <td>M5</td>
                      </tr>
                    </tbody>
                    <thead>
                      <tr>
                        <th colspan="4" style="text-align: center">
                          MOH (HIB)
                        </th>
                      </tr>
                    </thead>
                    <thead>
                      <tr>
                        <th scope="col">MATERIAL THICKNESS</th>
                        <th scope="col">GRADE</th>
                        <th scope="col">OLD STANDARD NAME</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr>
                        <td>0.23 MM</td>
                        <td>23HP090</td>
                        <td>23 MOH</td>
                      </tr>
                      <tr>
                        <td>0.27 MM</td>
                        <td>27HP100</td>
                        <td>27 MOH</td>
                      </tr>
                      <tr>
                        <td>0.30 MM</td>
                        <td>30HP105</td>
                        <td>30 MOH</td>
                      </tr>
                    </tbody>
                    <thead>
                      <tr>
                        <th colspan="4" style="text-align: center">
                          DR (DOMAIN REFINED)
                        </th>
                      </tr>
                    </thead>
                    <thead>
                      <tr>
                        <th scope="col">MATERIAL THICKNESS</th>
                        <th scope="col">GRADE</th>
                        <th scope="col">OLD STANDARD NAME</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr>
                        <td>0.23 MM</td>
                        <td>23DR085</td>
                        <td>23 ZDKH</td>
                      </tr>
                      <tr>
                        <td>0.23 MM</td>
                        <td>23DR080</td>
                        <td>23 ZDKH</td>
                      </tr>
                      <tr>
                        <td>0.27 MM</td>
                        <td>27DR090</td>
                        <td>27 ZDKH</td>
                      </tr>
                    </tbody>
                    <thead>
                      <tr>
                        <th colspan="4" style="text-align: center">
                          HEAT PROOF DOMAIN REFINED
                        </th>
                      </tr>
                    </thead>
                    <thead>
                      <tr>
                        <th scope="col">MATERIAL THICKNESS</th>
                        <th scope="col">GRADE</th>
                        <th scope="col">OLD STANDARD NAME</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr>
                        <td>0.23 MM</td>
                        <td>23DR085</td>
                        <td>23 ZDKH</td>
                      </tr>
                    </tbody>
                  </table>
                </div>
              </div>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-dismiss="modal">Get Quote</button>
              <button type="button" class="btn btn-primary">Conatct Us</button>
            </div>
          </div>
        </div>
      </div>
    </div>

    <!-- ********************************************************************* -->

    <!-- product3 -->
    <!-- Modal -->
    <div
      class="modal fade"
      id="modalRegisterForm3"
      tabindex="-1"
      role="dialog"
      aria-labelledby="myModalLabel"
      aria-hidden="false"
      [attr.data-backdrop]="'static'"
      [attr.data-keyboard]="false"
    >
      <div class="modal-dialog modal-xl">
        <div class="modal-content">
          <div class="modal-header">
            <a
              class="btn-primary justify-content-end"
              mat-raised-button
              color="accent"
              style="color: #fff"
              (click)="downloadPdfFile()"
            >
              Download Brochure
            </a>
            <button
              type="button"
              class="close"
              data-dismiss="modal"
              aria-label="Close"
              style="color: black"
            >
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            <div class="content">
              <div class="left">
                <div class="product_img">
                  <img
                    src="../../assets/CRGO_TOROIDAL___RECTANGULAR_CORE_IMAGE.jpg"
                    height="400px"
                  />
                </div><br><br>
                <div class="product_details">
                  <h4 class="title">CRGO TOROIDAL CORE</h4>
                  <p class="price">₹.250/- to ₹.450/- per kg</p>
                  <br />
                </div>
              </div>
              <div class="right">
                <div class="product_description">
                  <h4>PRODUCT DESCRIPTION</h4>
                  <p>
                    CRGO Toroidal cores are round or rectangular shaped CRGO
                    cores manufactured from CRGO Steel to be used in current and
                    Potential Transformers. Toroidal cores are manufactured from
                    the best quality CRGO steel anare d annealed in a pit
                    furnace to 820 degree C for full cycle of hours. We
                    manufacture CRGO Toroidal cores in many different
                    dimensions, made to order to customer specifications.
                  </p>
                  <p>
                    <span class="head">Usage / Application:</span> CT / Dimmer /
                    LT transformers
                  </p>
                  <p>
                    <span class="head">Country of origin:</span> Made in India.
                  </p>

                  <h4>Material Properties :</h4>
                  <table class="table table-bordered">
                    <tbody>
                      <tr>
                        <td scope="row">Shape</td>
                        <td>Round / Rectangular / Oval</td>
                      </tr>
                      <tr>
                        <td scope="row">Material</td>
                        <td>CRGO of various grades</td>
                      </tr>
                      <tr>
                        <td scope="row">Thickness</td>
                        <td>0.23 mm to 0.35 mm</td>
                      </tr>
                      <tr>
                        <td scope="row">Size:OD :</td>
                        <td>: From 20 mm to 1500 mm</td>
                      </tr>
                      <tr>
                        <td scope="row">Stacking factor</td>
                        <td>95% to 98%</td>
                      </tr>
                      <tr>
                        <td scope="row">Product capacity</td>
                        <td>150 MT / month</td>
                      </tr>
                    </tbody>
                  </table>

                  <p>
                    Comparative B-H curves Tabulated Values for Different grades
                    of CRGO Toroidal core of size 150 mm OD X 100 mm ID X 25 mm
                    HT:
                  </p>
                  <a class="btn2" (click)="toggleCollapse()" style="color: blue"
                    >+Read More</a
                  >
                </div>
              </div>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-dismiss="modal">Get Quote</button>
              <button type="button" class="btn btn-primary">Conatct Us</button>
            </div>
          </div>
        </div>
        <br />
        <div class="content-one" *ngIf="!isCollapsed">
          <table
            class="table-crgo table-bordered"
            style="
              border: 1px solid black;
              width: 99%;
              text-align: center;
              margin: 10px 10px;
            "
          >
            <thead>
              <tr>
                <th scope="col" rowspan="2">TESLA</th>
                <th scope="col">PROTECTION</th>
                <th scope="col">
                  METERING CORS<br />
                  0.2S /0.5 CLASS
                </th>
                <th scope="col">PS CLASS</th>
              </tr>
              <tr>
                <th scope="col">AT/CM</th>
                <th scope="col">AT/CM</th>
                <th scope="col">AT/CM</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td scope="row">0.01</td>
                <td>0.013</td>
                <td>0.003</td>
                <td>0.0038</td>
              </tr>
              <tr>
                <td scope="row">0.02</td>
                <td>0.017</td>
                <td>0.0043</td>
                <td>0.0061</td>
              </tr>
              <tr>
                <td scope="row">0.03</td>
                <td>0.021</td>
                <td>0.058</td>
                <td>0.0076</td>
              </tr>
              <tr>
                <td scope="row">0.04</td>
                <td>0.023</td>
                <td>0.0071</td>
                <td>0.0094</td>
              </tr>
              <tr>
                <td scope="row">0.05</td>
                <td>0.026</td>
                <td>0.0086</td>
                <td>0.1</td>
              </tr>
              <tr>
                <td scope="row">0.06</td>
                <td>0.03</td>
                <td>0.01</td>
                <td>0.012</td>
              </tr>
              <tr>
                <td scope="row">0.07</td>
                <td>0.032</td>
                <td>0.011</td>
                <td>0.014</td>
              </tr>
              <tr>
                <td scope="row">0.08</td>
                <td>0.035</td>
                <td>0.00117</td>
                <td>0.015</td>
              </tr>
              <tr>
                <td scope="row">0.09</td>
                <td>0.037</td>
                <td>0.013</td>
                <td>0.02</td>
              </tr>
              <tr>
                <td scope="row">0.1</td>
                <td>0.041</td>
                <td>0.014</td>
                <td>0.022</td>
              </tr>
              <tr>
                <td scope="row">0.2</td>
                <td>0.057</td>
                <td>0.026</td>
                <td>0.039</td>
              </tr>
              <tr>
                <td scope="row">0.3</td>
                <td>0.07</td>
                <td>0.038</td>
                <td>0.053</td>
              </tr>
              <tr>
                <td scope="row">0.4</td>
                <td>0.086</td>
                <td>0.048</td>
                <td>0.064</td>
              </tr>
              <tr>
                <td scope="row">0.5</td>
                <td>0.099</td>
                <td>0.06</td>
                <td>0.076</td>
              </tr>
              <tr>
                <td scope="row">0.6</td>
                <td>0.111</td>
                <td>0.066</td>
                <td>0.086</td>
              </tr>
              <tr>
                <td scope="row">0.7</td>
                <td>0.123</td>
                <td>0.075</td>
                <td>0.094</td>
              </tr>
              <tr>
                <td scope="row">0.8</td>
                <td>0.132</td>
                <td>0.083</td>
                <td>0.104</td>
              </tr>
              <tr>
                <td scope="row">0.9</td>
                <td>0.145</td>
                <td>0.091</td>
                <td>0.113</td>
              </tr>
              <tr>
                <td scope="row">1</td>
                <td>0.16</td>
                <td>0.1</td>
                <td>0.122</td>
              </tr>
              <tr>
                <td scope="row">1.1</td>
                <td>0.165</td>
                <td>0.104</td>
                <td>0.13</td>
              </tr>
              <tr>
                <td scope="row">1.2</td>
                <td>0.165</td>
                <td>0.114</td>
                <td>0.137</td>
              </tr>
              <tr>
                <td scope="row">1.3</td>
                <td>0.201</td>
                <td>0.122</td>
                <td>0.147</td>
              </tr>
              <tr>
                <td scope="row">1.4</td>
                <td>0.224</td>
                <td>0.13</td>
                <td>0.16</td>
              </tr>
              <tr>
                <td scope="row">1.5</td>
                <td>0.252</td>
                <td>0.14</td>
                <td>0.173</td>
              </tr>
              <tr>
                <td scope="row">1.6</td>
                <td>0.3</td>
                <td>0.162</td>
                <td>0.19</td>
              </tr>
              <tr>
                <td scope="row">1.7</td>
                <td>0.351</td>
                <td>0.185</td>
                <td>0.21</td>
              </tr>
              <tr>
                <td scope="row">1.75</td>
                <td>0.42</td>
                <td>0.21</td>
                <td>0.23</td>
              </tr>
              <tr>
                <td scope="row">1.8</td>
                <td>0.483</td>
                <td>0.26</td>
                <td>0.262</td>
              </tr>
              <tr>
                <td scope="row">1.85</td>
                <td>0.6</td>
                <td>0.36</td>
                <td>0.338</td>
              </tr>
              <tr>
                <td scope="row">1.9</td>
                <td>0.942</td>
                <td>0.79</td>
                <td>0.62</td>
              </tr>
              <tr>
                <td scope="row">1.95</td>
                <td>----</td>
                <td>---</td>
                <td>1.35</td>
              </tr>
            </tbody>
          </table>
        </div>
        <br />
        <div class="content-one" *ngIf="!isCollapsed">
          <img
            src="../../assets/clients/Screenshot (48).png"
            alt=""
            width="50%"
          />
        </div>
      </div>
    </div>
    <!-- ********************************************************************* -->
    <!-- product4 -->
    <!-- Modal -->
    <div
      class="modal fade"
      id="modalRegisterForm4"
      tabindex="-1"
      role="dialog"
      aria-labelledby="myModalLabel"
      aria-hidden="false"
      [attr.data-backdrop]="'static'"
      [attr.data-keyboard]="false"
    >
      <div class="modal-dialog modal-xl">
        <div class="modal-content">
          <div class="modal-header">
            <a
              class="btn-primary justify-content-end"
              mat-raised-button
              color="accent"
              style="color: #fff"
              (click)="downloadPdfFile()"
            >
              Download Brochure
            </a>
            <button
              type="button"
              class="close"
              data-dismiss="modal"
              aria-label="Close"
              style="color: black"
            >
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            <div class="content">
              <div class="left">
                <div class="product_img">
                  <img
                    src="../../assets/crgo/Capture core1.JPG"
                    height="400px"
                  />
                </div>
                <div class="product_details">
                  <h4 class="title">CRGO RECTANGULAR STRIPS</h4>
                  <p class="price">₹.180/- to ₹.250/- per kg</p>
                  <br />
                </div>
              </div>

              <div class="right">
                <div class="product_description">
                  <h4>PRODUCT DESCRIPTION</h4>
                  <p>
                    We manufacture comprehensive variety of Rectangular Strips
                    in CRGO that are offered in both loose conditions or can
                    also be assembled as per client's specifications. We have
                    the capability and infrastructure to deliver these
                    rectangular strips, in different specifications which can
                    differ on the basis of width, lengths, raw material used and
                    others.
                  </p>
                  <p>
                    <span class="head">Usage / Application:</span> CT / Dimmer /
                    LT transformers
                  </p>
                  <p>
                    <span class="head">Country of origin:</span> Made in India.
                  </p>
                  <div class="tab">
                    <h4>Material Properties :</h4>
                    <table class="table table-bordered">
                      <tbody>
                        <tr>
                          <td scope="row">Shape</td>
                          <td>Rectangular / with & without holes</td>
                        </tr>
                        <tr>
                          <td scope="row">Size</td>
                          <td>20 mm to 500 mm</td>
                        </tr>
                        <tr>
                          <td scope="row">Thickness</td>
                          <td>0.23 mm to 0.35 mm</td>
                        </tr>
                        <tr>
                          <td scope="row">Stacking factor</td>
                          <td>95% to 98 %</td>
                        </tr>
                        <tr>
                          <td scope="row">Material</td>
                          <td>CRGO of various grades</td>
                        </tr>
                        <tr>
                          <td scope="row">Product capacity</td>
                          <td>150 MT / month.</td>
                        </tr>
                      </tbody>
                    </table>
                  </div>
                </div>
              </div>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-dismiss="modal">Get Quote</button>
              <button type="button" class="btn btn-primary">Conatct Us</button>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- ********************************************************************* -->
    <!-- product5 -->
    <!-- Modal -->
    <div
      class="modal fade"
      id="modalRegisterForm5"
      tabindex="-1"
      role="dialog"
      aria-labelledby="myModalLabel"
      aria-hidden="false"
      [attr.data-backdrop]="'static'"
      [attr.data-keyboard]="false"
    >
      <div class="modal-dialog modal-xl">
        <div class="modal-content">
          <div class="modal-header">
            <a
              class="btn-primary justify-content-end"
              mat-raised-button
              color="accent"
              style="color: #fff"
              (click)="downloadPdfFile()"
            >
              Download Brochure
            </a>
            <button
              type="button"
              class="close"
              data-dismiss="modal"
              aria-label="Close"
              style="color: black"
            >
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            <div class="content">
              <div class="left">
                <div class="product_img">
                  <img
                    src="../../assets/crgo/11-crgo-cutcore-500x500.jpg"
                    height="400px"
                  />
                </div><br><br>
                <div class="product_details">
                  <h4 class="title">Unicore & Cut cores</h4>
                  <p class="price">₹. 400/- per kg</p>
                  <br />
                </div>
              </div>

              <div class="right">
                <div class="product_description">
                  <h4>PRODUCT DESCRIPTION</h4>
                  <p>
                    This is a core with no cuts. The Unicore machine only feeds
                    and folds the steel to create a rectangular core. Uncut
                    Unicores are used for Current and Voltage Transformers. They
                    are always annealed to achieve the lowest losses and
                    magnetising current
                  </p>
                  <p>
                    <span class="head">Usage / Application:</span>
                    High frequency / distribution transformers /IVT & CVT
                    transformers
                  </p>
                  <p>
                    <span class="head">Country of origin:</span> Made in India.
                  </p>
                  <div class="tab">
                    <h4>Material Properties :</h4>
                    <table class="table table-bordered">
                      <tbody>
                        <tr>
                          <td scope="row">Material</td>
                          <td>CRGO of various grades</td>
                        </tr>
                        <tr>
                          <td scope="row">Size</td>
                          <td>As per requirement</td>
                        </tr>
                        <tr>
                          <td scope="row">Thickness</td>
                          <td>0.23 mm to 0.35 mm</td>
                        </tr>
                        <tr>
                          <td scope="row">Stacking factor</td>
                          <td>95% to 98 %</td>
                        </tr>
                        <tr>
                          <td scope="row">Material</td>
                          <td>CRGO of various grades</td>
                        </tr>
                        <tr>
                          <td scope="row">Product capacity</td>
                          <td>: 50 MT / month.</td>
                        </tr>
                      </tbody>
                    </table>
                  </div>
                </div>
              </div>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-dismiss="modal">Get Quote</button>
              <button type="button" class="btn btn-primary">Conatct Us</button>
            </div>
          </div>
        </div>
      </div>
    </div>

    <!-- ***************************************************************************************** -->
    <!-- product6 -->
    <!-- Modal -->
    <div
      class="modal fade"
      id="modalRegisterForm6"
      tabindex="-1"
      role="dialog"
      aria-labelledby="myModalLabel"
      aria-hidden="false"
      [attr.data-backdrop]="'static'"
      [attr.data-keyboard]="false"
    >
      <div class="modal-dialog modal-xl">
        <div class="modal-content">
          <div class="modal-header">
            <a
              class="btn-primary justify-content-end"
              mat-raised-button
              color="accent"
              style="color: #fff"
              (click)="downloadPdfFile()"
            >
              Download Brochure
            </a>
            <button
              type="button"
              class="close"
              data-dismiss="modal"
              aria-label="Close"
              style="color: black"
            >
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            <div class="content">
              <div class="left">
                <div class="product_img">
                  <img
                    src="../../assets/crgo/crgo-nano-copper-wound-cores-500x500.jpg"
                    height="400px"
                  />
                </div><br><br>
                <div class="product_details">
                  <h4 class="title">CRGO crystalline copper wound core</h4>
                  <p class="price">₹. 1000/- to ₹.10000/- per pc</p>
                  <br />
                </div>
              </div>

              <div class="right">
                <div class="product_description">
                  <h4>PRODUCT DESCRIPTION</h4>
                  <p>
                    It is made by winding a long ribbon of magnetic steel in a
                    tight spiral on a mandrel into the form of a heavy-walled
                    circular cylinder. This core construction has been
                    designated as the "wound core." It eliminates or minimizes
                    most of the objections inherent in other types
                  </p>
                  <p>
                    <span class="head">Usage / Application:</span>
                    CT & Toroidal transformers
                  </p>
                  <p>
                    <span class="head">Country of origin:</span> Made in India.
                  </p>
                  <div class="tab">
                    <h4>Material Properties :</h4>
                    <table class="table table-bordered">
                      <tbody>
                        <tr>
                          <td scope="row">Material</td>
                          <td>
                            Nano crystalline ribbon / CRGO of various grade
                          </td>
                        </tr>
                        <tr>
                          <td scope="row">Specification:</td>
                          <td>
                            0.2S class copper wound metering cores upto 765 KV
                            class PS class copper wound metering cores
                          </td>
                        </tr>
                      </tbody>
                    </table>
                  </div>
                </div>
              </div>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-dismiss="modal">Get Quote</button>
              <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal">Conatct Us</button>
            </div>
          </div>
        </div>
      </div>
      <!-- ****************************************************************************************** -->
    </div>
  </div>
</div>




